<div class="indicator-chart__wrapper">
  <div class="indicators-timeline indicator-chart">
    <div class="indicator-scrollable-container">
      <div class="indicator-container">
        {% for item in items %}
          <div class="column">
            {% for it in item %}
              <a title="{{ it.title }}" target="_blank" class="image" href="{{ it.link }}">{{ it.image }}</a>
            {% endfor %}
            <div class="date">
              {{ item.0.date }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
