{{ attach_library('parc_core/indicators') }}

<div class="indicator-chart__wrapper">
  <div class="indicator-chart" id="indicator-chart-{{ id }}" data-chart-type="{{ chart_type }}" data-chart-id="{{ id }}">
    <div class="indicator-scrollable-container"><div class="indicator-container"></div></div>
  </div>
</div>
