{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set id = content["#settings"]["label"]|clean_class %}

{%
  set classes = [
    'layout',
    'layout--onecol',
  ]
%}

{% if attributes.hasClass('add-container') %}
  {% set attributes = attributes.removeClass('add-container') %}
  {% set addClass = TRUE %}
{% endif %}

{% if content %}
  <div{{attributes.addClass(classes).setAttribute('id', id)}}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', addClass ? 'container') }}>

      {{ content.content }}
    </div>
  </div>
{% endif %}
