.sticky-top {
  transition: var(--transition-base);
  top: var(--drupal-body-pt);

  header:not(.vh) + main & {
    top: calc(var(--drupal-body-pt) + 96px);
  }
}

.toast-container {
  right: 0;
  bottom: 0;
}

main {
  /* min-height: 500px; */
}

.collapse a {
  position: relative;
  z-index: 2;
}

.card-styled-border {
  transform: translateY(45%);
  align-self: flex-start;
  width: 100%;

  svg {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

/* Page layout. */
.region-content-bottom {
  padding-block: 80px;

  /* Temp. */
  .block-views:not(.block-views-blocknews-events-block-related-news) {
    h2 {
      font-size: 24px;
      margin-bottom: 40px;

      .field--name-name {
        display: inline;
      }
    }
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.block--video-block {
  img,
  video {
    width: 100%;
    height: auto;
  }
}

.viewsreference--view-title {
  display: none;
}

.governance-svg.active .path-stroke,
.governance-svg:hover .path-stroke {
  fill: #ececec;
  stroke-opacity: 100%;
}

.governance-content {
  display: none;
  &.show {
    display: block;
  }
}

@media (--lg) {
  .layout--twocol-section {
    align-items: stretch;

    .col-menu {
      display: flex;
      flex-direction: column;
    }

    .content-container {
      margin-inline: 8.3333% 16.6666%;
    }

    .content-container-sm {
      margin-inline: 16.6666% 25%;
      margin-bottom: var(--spacer);

      p {
        margin-bottom: 0.75em;
      }
    }
  }
}

.svg-title {
  padding-block: 24px;
  display: grid;

  svg {
    max-width: 100%;
    max-height: 36px;
    height: auto;
    width: auto;
  }

  .bg-gray & {
    padding-top: 0;
  }

  @media (--md) {
    padding-block: var(--p-parc);
    justify-content: center;
    max-height: inherit;

    svg {
      max-height: inherit;
    }
  }
}

.more-link {
  text-align: center;
  margin-top: 50px;
}

.container-content {
  isolation: isolate;
}

/* Efects. */
.card-styled-border {
  display: flex;

  circle {
    opacity: 0;

    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    &:nth-of-type(odd) {
      transform: translateX(5px);
      animation-name: slideinRL;
    }

    &:nth-of-type(even) {
      transform: translateX(-5px);
      animation-name: slideinLR;
    }
  }

  .line1 {
    stroke-dashoffset: 10;
    stroke-dasharray: 50;
    stroke-width: 20;
  }

  @keyframes slideinRL {
    0% {
      opacity: 0;
      transform: translateX(5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideinLR {
    0% {
      opacity: 0;
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

/* Efects need clarification. */
@keyframes dashIn {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 30;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }
}

@keyframes dashOut {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 30;
  }
}

@keyframes dashHover {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 45;
  }
  to {
    stroke-dashoffset: -90;
    stroke-dasharray: 45;
  }
}

.external-link-mark {
  font-size: 17px;
}

body {
  overflow-x: hidden;
}

#sliding-popup {
  background: #199083 !important;
  padding: 30px;

  .eu-cookie-compliance-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    max-width: 100%;

    @media (--md) {
      flex-direction: row;
      max-width: 80%;
    }
  }

  .eu-cookie-compliance-message {
    margin: 0;
    max-width: 100%;

    @media (--md) {
      flex-direction: row;
      max-width: 60%;
    }
  }

  p {
    font-size: 16px;
    margin: 0;

    a {
      color: #fff;
    }
  }

  .eu-cookie-compliance-buttons {
    margin: 0;
    width: 100%;
    max-width: 100%;

    @media (--md) {
      width: auto;
      max-width: 40%;
    }
  }

  button {
    background: none;
    box-shadow: none;
    border: 1px solid #FFF;
    border-radius: 0.5rem;
    color: #fff;
    outline: 0;
    text-shadow: none;
    font-family: unset;
    font: var(--btn-font-weight) var(--btn-font-size) /var(--btn-line-height) var(--btn-font-family);
    padding: 5px 15px;
    margin: 0;
    width: 100%;

    @media (--md) {
      width: auto;
    }

    &:hover {
      background: #FFF;
      color: var(--link-h-color);
    }
  }
}

.full-screen {
  header, footer {
    display: none;
  }

  .interactive-map {
    max-height: calc(100 * var(--vh, 1vh));
  }

  &.map-page .layout > :first-child {
    max-height: calc(100 * var(--vh, 1vh) - 40px);
  }

  #sliding-popup {
    display: none !important;
  }
}

article {
  .field--name-body {
    video {

    }
  }
}

blockquote {
  font-style: italic;
  position: relative;
  padding-left: 15px;
  margin-left: 20px;
  font-size: 20px;

  &:before {
    content: '';
    height: 100%;
    width: 5px;
    border-radius: 10px;
    background: var(--lichtblauw);
    position: absolute;
    left: 0;
  }
}

.nav-ssbd-repository {
  .nav-item {
    border-top: 1px solid #000;
    display: flex;

    .ssbd-menu-introduction-to-ssbd {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/introduction-to-ssbd.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/introduction-to-ssbd-hover.svg');
        }
      }
    }

    .ssbd-menu-eu-legislation-link-to-the-ssbd {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/eu-legislation-link-to-the-ssbd.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/eu-legislation-link-to-the-ssbd-hover.svg');
        }
      }
    }

    .ssbd-menu-test-guidelines-and-standards {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/test-guidelines-and-standards.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/test-guidelines-and-standards-hover.svg');
        }
      }
    }

    .ssbd-menu-tools-methods {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/tools-methods.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/tools-methods-hover.svg');
        }
      }
    }

    .ssbd-menu-data-databases {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/data-databases.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/data-databases-hover.svg');
        }
      }
    }

    .ssbd-menu-education-training {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/education-training.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/education-training-hover.svg');
        }
      }
    }

    .ssbd-menu-case-studies-practical-application {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/case-studies-practical-application.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/case-studies-practical-application-hover.svg');
        }
      }
    }

    .ssbd-menu-user-community {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/user-community.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/user-community-hover.svg');
        }
      }
    }

    .ssbd-menu-announcements {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/announcements.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/announcements-hover.svg');
        }
      }
    }

    .ssbd-menu-faqs {
      &::before {
        background-image: url('../../img/ssbd-menu-icons/faqs.svg');
      }
      &:hover {
        &::before {
          background-image: url('../../img/ssbd-menu-icons/faqs-hover.svg');
        }
      }
    }

    .nav-link {
      font-size: 16px;
      font-weight: 500;
      padding: 20px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &::before {
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 75px;
        width: 75px;
        margin-right: 30px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      &.is-active {
        &.ssbd-menu-introduction-to-ssbd {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/introduction-to-ssbd-hover.svg');
          }
        }

        .ssbd-menu-eu-legislation-link-to-the-ssbd {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/eu-legislation-link-to-the-ssbd-hover.svg');
            }
        }

        .ssbd-menu-test-guidelines-and-standards {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/test-guidelines-and-standards-hover.svg');
          }
        }

        .ssbd-menu-tools-methods {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/tools-methods-hover.svg');
            }
        }

        .ssbd-menu-data-databases {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/data-databases-hover.svg');
          }
        }

        .ssbd-menu-education-training {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/education-training-hover.svg');
          }
        }

        .ssbd-menu-case-studies-practical-application {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/case-studies-practical-application-hover.svg');
          }
        }

        .ssbd-menu-user-community {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/user-community-hover.svg');
          }
        }

        .ssbd-menu-announcements {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/announcements-hover.svg');
          }
        }

        .ssbd-menu-faqs {
          &::before {
            background-image: url('../../img/ssbd-menu-icons/faqs-hover.svg');
          }
        }
      }
    }


    &:last-child {
      border-bottom: 1px solid #000;
    }
  }
}

.page--ssbd {
  .node--page--full {
    :where(h1, h2, h3, h4, h5, h6) {
      color: #6e009a
    }
  }

  .svg-title h1 {
    max-width: 1300px;
  }
}

.ckeditor-accordion-container {
  border-bottom: 1px solid #999898;

  &:not(:first-child) {
    margin-top: 30px;
  }

  > dl dd {
    padding: 0;
    padding-bottom: 20px;
  }

  dl.styled {
    border: unset;
    margin-bottom: 0;
    dt {
      border-top: 1px solid #999898;
      .ckeditor-accordion-toggler {
        background-color: #fff;
        color: #000;
        border-bottom: unset;
        text-decoration: none;
        padding-left: 0;
        padding-right: 0;
        &:hover {
          background-color: #fff;
          color: #000;
          text-decoration: underline;
        }
        .ckeditor-accordion-toggle {
          left: unset;
          right: 11px;
          &::before, &::after {
            background-color: #000;
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid #000;
      }
      &.active {
        .ckeditor-accordion-toggler {
          font-weight: bold;

        }
      }
    }
  }
}

iframe.media-oembed-content {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.text--caption {
  font-weight: 500;
  color: #515151;
  font-size: 18px;

  a {
    color: #515151;
  }
}

.layout--twocol-section--25-75 {
  flex-wrap: wrap;
  gap: 30px;

  @media (--md) {
    flex-wrap: nowrap;
    gap: 0;
  }

  @media (--downMd) {
    > * {
      flex: 1 0 100% !important;
      padding: 0 !important;
    }
  }
}

.survey-form-wrapper {
  background-color: #B0E5DF;

  &.override-color {
    background-color: var(--survey-color, #B0E5D) !important;
  }

  padding: 30px 30px 60px 30px;
  text-align: center;

  h3 {
    margin-bottom: var(--spacer);
    font-size: 40px;
  }

  > p {
    font-size: 19px;
  }

  .survey-options, .survey-results {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 100%;
      border-radius: 8px;
      background-color: #FFFFFF;
    }

    .survey-option, .survey-result {
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      flex: 1 1 calc(50% - 40px);
      position: relative;
      margin-left: 40px;
      min-height: 229px;

      &:nth-of-type(1), &:nth-of-type(2) {
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 10px;
          border-radius: 8px;
          background-color: #FFFFFF;
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        border-radius: 8px;
        background-color: #FFFFFF;
      }

      &:nth-of-type(odd) {
        justify-content: end;
        margin-left: 0;
        margin-right: 40px;

        .survey-result-percent {
          right: 0;
        }

        &::before {
          right: 0;
          left: unset;
        }

        &::after {
          right: 0;
          left: unset;
        }
      }

      &:nth-of-type(even) {
        .survey-result-percent {
          left: 0;
        }
      }
    }

    .survey-option-link {
      background-color: unset;
      border: unset;
      color: black;
      padding: 100px 0;
      width: 100%;
      font-size: 22px;

      &:hover {
        background-color: #77CABF4D;
        text-decoration: none;
      }
    }
  }

  .survey-results {
    list-style: none;
    margin: 0;
    padding: 0;

    .survey-result {
      padding: 80px 0;
      flex-direction: column;

      p {
        width: 100%;
        margin: 0;
        z-index: 2;
        font-size: 22px;
      }

      .survey-result-percent {
        width: 100%;
        position: absolute;
        bottom: 10px;
        right: 0;
        border-radius: 8px;
        background-color: #77CABF4D;
        z-index: 1;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        height: 100%;
      }
    }

  }

  @media screen and (max-width: 1030px) {
    .survey-options, .survey-results {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;

      &::after {
        display: none;
      }

      .survey-option, .survey-result {
        flex: 1 1 100%;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;

        &:first-of-type {
          &::before {
            width: 100%;
          }
        }

        &:nth-of-type(2) {
          &::before {
            display: none;
          }
        }

        &:nth-of-type(odd) {
          justify-content: center;
          margin-left: 0;
          margin-right: 0;

          &::after {
            width: 100%;
          }
        }

        .survey-result-percent {
          width: 100%;
        }

        .survey-option-link {
          width: 100%;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.node--events {
  .survey-form-wrapper {
    background-color: var(--ne-c-cat, #b0e5df);
  }
}

.node--article {
  .survey-form-wrapper {
    background-color: var(--nn-c-cat, #b0e5df);
  }
}

.node--project {
  .survey-form-wrapper {
    background-color: var(--project-color, #b0e5df);
  }
}
