.sticky-top {
  transition: var(--transition-base);
  top: var(--drupal-body-pt);

  header:not(.vh) + main & {
    top: calc(var(--drupal-body-pt) + 96px);
  }
}

.toast-container {
  right: 0;
  bottom: 0;
}

main {
  min-height: 500px;
}

.collapse a {
  position: relative;
  z-index: 2;
}

.card-styled-border {
  transform: translateY(50%);
  align-self: flex-start;

  svg {
    max-width: 100%;
    height: auto;
  }
}

/* Page layout. */
.region-content-bottom {
  padding-block: 80px;

  /* Temp. */
  .block-views {
    & > h2 {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.block--video-block {
  img,
  video {
    width: 100%;
    height: auto;
  }
}

.viewsreference--view-title {
  display: none;
}

.governance-svg.active .path-stroke,
.governance-svg:hover .path-stroke {
  fill: #ececec;
  stroke-opacity: 100%;
}

.governance-content {
  display: none;
  &.show {
    display: block;
  }
}

@media (--lg) {
  .layout--twocol-section {
    align-items: stretch;

    .col-menu {
      display: flex;
      flex-direction: column;
    }

    .content-container {
      margin-inline: 8.3333% 16.6666%;
    }

    .content-container-sm {
      margin-inline: 16.6666% 25%;
      margin-bottom: var(--spacer);

      p {
        margin-bottom: 0.75em;
      }
    }
  }
}

.svg-title {
  padding-block: 24px;
  display: grid;

  svg {
    max-width: 100%;
    max-height: 36px;
    height: auto;
    width: auto;
  }

  @media (--md) {
    padding-block: 80px;
    justify-content: center;
    max-height: inherit;

    svg {
      max-height: inherit;
    }
  }
}

.more-link {
  text-align: center;
  margin-top: 50px;
}

.container-content {
  isolation: isolate;
}

/* efects */
@keyframes dashIn {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 30;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }
}

@keyframes dashOut {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 30;
  }
}

@keyframes dashHover {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 45;
  }
  to {
    stroke-dashoffset: -90;
    stroke-dasharray: 45;
  }
}
