.media-asset {
  aspect-ratio: 1 / 1;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: PARC;
  height: 100%;
  padding: 20px;
  text-align: center;
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  > a {
    text-decoration: none;
  }
}

.media-assets-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 6px;
  row-gap: 20px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 42px;
    row-gap: 30px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 42px;
    row-gap: 30px;
  }
}
