.media-asset {
  aspect-ratio: 1 / 1;
  background-color: var(--bg-color);
  font-family: PARC;
  height: 100%;
  text-align: center;
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    aspect-ratio: 2 / 3;
  }

  > a {
    text-decoration: none;
    color: var(--text-color) !important;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.media-assets-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
