.views--2col {
  @media (--xl) {
    display: flex;
    gap: 24px;

    > * {
      flex: 0 0 calc(50% - 12px);
      max-width: 100%;
      overflow: hidden;
    }

    .left-col {
      .views-row {
        &:nth-child(even) {
          display: none;
          margin-top: -99999px;
        }
      }
    }
  }

  @media (max-width: 1279px) {
    .right-col .article {
      margin-top: -99999px;
    }
  }
}
