{#
/**
 * @file
 */
#}

{% set par = '?categorie[' ~ term.id ~ ']=' ~ term.id %}

{% if term.bundle == 'events_category' %}
  {% set path = 'view.content_events.page_events' %}
{% else %}
  {% set path = 'view.news_events.page_news' %}
{% endif %}

<a href={{ path(path) ~ par }}>
  {{- name -}}
</a>
