.nav-main {
  .mm-level-1 {
    .nav-link {
      font-weight: var(--base-font-weight);
    }

    .nav-link-level-1 span a,
    a.nav-link-level-1,
    .nav-link-level-1.nav-link-fakelink {
      font-weight: 700 !important;
      text-decoration: underline !important;
    }
  }

  /* meniu styles placed in header */
  .region-nav-main & {
    .mm-level-1 {
      position: relative;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      --nav-link-font-size: 18px;

      .nav-link {
        --navbar-nav-link-padding-x: 0;
        --nav-link-padding-y: 4px;
        /* min-width: 250px; */
        white-space: inherit;
        max-width: 260px;
        line-height: 30px;
      }
    }

    @media (--xl) {
      .mm-level-1 {
        margin-top: 24px;
      }

      .mm-level-1-extended {
        width: 145% !important;
        left: -25% !important;
        margint-top: 24px;
      }

      .nav-link-level-0 {
        &:hover {
          .mm-collapse-0 {
            display: block;
          }

          .nav-link.nav-link-level-0 {
            text-decoration: underline;
          }
        }
      }

      .nav-link.nav-link-level-1 {
        width: max-content;
        padding-right: 20px;
      }

      .text-muted {
        padding-right: 20px;
      }

      .mm-collapse-0 {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.95);
        padding-left: var(--navbar-nav-link-padding-x);
        box-shadow: 0 0 0 100vmax rgba(255, 255, 255, 0.95);
        clip-path: inset(0 -100vmax);
        padding-bottom: 2rem;
        min-height: 560px;
        width: 100%;
        transform: translate(-100%);
        left: 100%;

        &.extended {
          width: 140% !important;
          transform: translate(0) !important;
          left: -32% !important;
          padding-left: 0;

          .mm-level-1 {
            column-gap: 20px;
            justify-content: normal;
          }

          @media (min-width: 1390px) {
            left: -15% !important;
          }
        }

        &.mm-collapse-cols-2 {
          transform: translateX(-75%);
          width: 75% !important;
          left: 75%;

          .mm-level-1 {
            column-gap: 20px;
            justify-content: normal;
          }
        }

        &.mm-collapse-cols-1 {
          transform: none;
          left: auto;
        }
      }
    }
  }

  .layout--parc-content & {
    .nav-link {
      --nav-link-padding-y: 0.35rem;
      --nav-link-font-size: 24px;
      font-weight: var(--fw-medium);
      line-height: 125%;
    }
  }

  /* meniu styles placed in sidebar */
  .menu--sidebar--multilevel & {
    .text-muted {
      display: none;
    }

    li.nav-link-level-0 {
      &:not(.li-active) {
        display: none;
      }
    }
    .nav-link-level-1 {
      --nav-link-padding-y: 0.5rem;
      --nav-link-font-size: 18px;
    }

    @media (--lg) {
      .mm-collapse-0 {
        display: block;
      }

      li.nav-link-level-0:has(.mm-collapse-0.show) {
        a.nav-link-level-0 {
          text-decoration: underline;
        }
      }
    }
  }
}
