body {
  --drupal-body-pt: 0px;
}

.toolbar-fixed {
  &:not(.toolbar-tray-open) {
    --drupal-body-pt: 39px;
  }

  &.toolbar-horizontal.toolbar-tray-open {
    --drupal-body-pt: 79px;
  }
}

.alignTop {
  top: var(--drupal-body-pt);
}

.min-height {
  min-height: calc(100vh - var(--drupal-body-pt));
}
