.node--vm--teaser {
  --card-spacer-y: 10px;
  --card-spacer-x: 10px;
  --card-img-p: 3px;

  @media (--lg) {
    --card-spacer-y: 18px;
    --card-spacer-x: 18px;
    --card-img-p: 6px;
  }

  .card-img {
    padding: var(--card-img-p);
    padding-bottom: 0;
  }
}
