@define-mixin rb-left {
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    left: 0;
    top: 0;
    position: absolute;
  }
}

@define-mixin rb-right {
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    right: 0;
    top: 0;
    position: absolute;
  }
}

@define-mixin rb-top {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    left: 0;
    top: 0;
    position: absolute;
  }
}

@define-mixin rb-bottom {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    left: 0;
    top: 100%;
    position: absolute;
  }
}

.chemical-accordion {
  border-radius: 6px;
  overflow: hidden;

  @media (--downMd) {
    border-radius: 0;
  }

  .paragraph--two-column {
    &__column {
      &--left {
      }

      &--right {
        @media (--downMd) {
          @mixin rb-top;
        }

        @media (--md) {
          @mixin rb-left;
        }
      }
    }
  }


  .field--name-field-what-parc-does,
  .field--name-field-what-eu-does {
    p, ul, ol {
      margin: 0 10% !important;
      font-size: 16px;
      font-weight: 700;
      line-height: 140%;

      @media (--downMd) {
        margin: 0 !important;
      }

      &:last-child {
        margin-bottom: 20px;
      }
    }

    .faq {
      background: transparent;
      color: #fff;
      border-radius: 6px;
      border: 3px solid #FFF;

      &__header {
        color: #fff;
      }

      &__answer {
        color: #FFF;
      }

      &__toggle-icon {
        &:before,
        &:after {
          background-color: #FFF !important;
        }
      }

      p, ul, ol {
        margin: 0 !important;
      }
    }
  }

  .paragraph-text {
    width: 100%;
    max-width: 100%;
    margin: 0;

    @media (--md) {
      padding: 20px;
    }

    a {
      color: #FFF;
    }

    hr {
      border-color: var(--secondary-color) !important;
      border-width: 3px;
      margin: 40px -20px;
      opacity: 1;
    }

    &:first-child {
      padding-top: 0;
    }

    + .paragraph-text {
      @mixin rb-top;

      @media (--downMd) {
        padding-top: 20px;
      }
    }

    .media-lightbox {
      margin-left: 0 !important;
      width: 100% !important;

      .field-media {
        display: flex;
        justify-content: center;
      }
    }

    table {
      color: #000;
      margin-left: -30px;
      margin-right: -30px;
      width: calc(100% + 60px);

      th {
        background: var(--secondary-color);
        border-color: var(--primary-color);

        &:first-child {
          border-left: 2px solid var(--secondary-color);
        }

        &:last-child {
          border-right: 2px solid var(--secondary-color);
        }
      }

      td {
        border-color: var(--secondary-color);
      }
    }

    .ckeditor-accordion-container {
      border: none !important;
      margin-left: -30px;
      margin-right: -30px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    line-height: 140%;
    width: 100%;
    color: #000;
    margin: 20px 0;
    font-weight: 700;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 26px;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-height: 291px;

    @media (--sm) {
      border-radius: 6px 6px 0 0;
    }

    &:hover {
      background-color: var(--primary-color);

      .chemical-accordion__title,
      .chemical-accordion__subtitle,
      .chemical-accordion__summary {
        color: #FFF;
      }

      .chemical-accordion__subtitle {
        color: var(--secondary-color);
      }


      .chemical-accordion__toggle-icon {
        &:before, &:after {
          background-color: #FFF;
        }
      }
    }

    &-left {
      flex: 0 0 40%;
    }

    &-right {
      flex: 1;
      display: flex;
      padding-left: 20px;
    }
  }

  &.is-expanded {
    .chemical-accordion__header,
    .chemical-accordion__content {
      background-color: var(--primary-color);
      color: #FFF;
    }

    .chemical-accordion__tabs {
      display: block;

      &-content {
        padding-top: 20px;

        @mixin rb-top;
      }
    }

    .chemical-accordion__title,
    .chemical-accordion__summary {
      color: #FFF;
    }

    .chemical-accordion__subtitle {
      color: var(--secondary-color);
    }

    .chemical-accordion__toggle-icon {
      &:before, &:after {
        background-color: #FFF;
      }
    }
  }

  &__title,
  &__subtitle {
    font-size: 32px;
    line-height: 140%;
    font-weight: 700;
    max-width: 438px;

    @media (max-width: 576px) {
      font-size: 26px;
    }
  }

  &__title {
    color: #000;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: var(--primary-color);
  }

  &__summary {
    font-size: 16px;
    line-height: 140%;
    color: #000;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__toggle-icon {
    flex: 0 0 15px;
    height: 15px;
    position: relative;
    margin-left: auto;
    margin-top: auto;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: #000;
      transition: transform 0.3s ease;
    }

    &::before {
      width: 100%;
      height: 3px;
      margin-top: 6px;
    }

    &::after {
      width: 3px;
      height: 100%;
      margin-left: 6px;
    }
  }

  .survey-form-wrapper {
    background-color: var(--secondary-color);
    border-radius: 6px;

    .survey-result-percent {
      background-color: var(--primary-color) !important;
      opacity: .4 !important;
    }

    .survey-option-link:hover,
    .survey-option-link:active,
    .survey-option-link:focus {
      background-color: color-mix(in srgb, var(--primary-color) 40%, transparent) !important;
      color: #000;
    }

    p {
      color: #000;
    }
  }

  &.is-expanded {
    .chemical-accordion__toggle-icon::after {
      transform: rotate(90deg);
      opacity: 0;
    }
  }

  &__content {
    padding: 30px 20px;
    background-color: #FFF;
  }

  &__tabs {
    display: none;

    .nav-tabs {
      justify-content: center;
      gap: 7px;
      border: none;

      @media (max-width: 576px) {
        gap: 0;
        display: flex;
        width: 100%;
      }

      .nav-item {
        @media (max-width: 576px) {
          flex: 1;
        }
      }

      .nav-link {
        border: none;
        color: #000;
        font-weight: 700;
        font-size: 20px;
        padding: 10px 30px;
        background-color: var(--secondary-color);
        margin: 0;

        @media (max-width: 576px) {
          border-radius: 0;
          width: 100%;
          padding: 0;
          height: 49px;
          font-size: 11px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        &.active {
          background-color: var(--primary-color);
          color: #000;
          text-decoration: none;
        }

        &:hover:not(.active) {
          background-color: var(--primary-color);
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  &__related {
    margin-top: 40px;
    padding-top: 20px;
    margin-left: -10px;
    margin-right: -10px;

    @media (--downMd) {
      border-top: 3px solid var(--secondary-color);
    }

    &-section {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      h3 {
        font-size: 22px;
        font-weight: 700;
        color: #000;
        margin: 30px 0;
        text-align: center;
      }
    }
  }

  /* Responsive adjustments */
  @media (--md) {
    &__header {
      padding: 30px;
    }
  }

  @media (max-width: 767px) {
    &__header {
      flex-direction: column;
      align-items: flex-start;

      &-left,
      &-right {
        flex: 1 1 auto;
        width: 100%;
        padding: 0;
      }

      &-right {
        margin-top: 15px;
      }
    }
  }
}
