.node--basic-page--full {
  isolation: isolate;

  .block-field-blocknodebasic-pagefield-banner {
    height: 320px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .block-field-blocknodebasic-pagefield-svg-title {
    position: absolute;
    top: 24px;
    inset-inline: 0;

    img {
      max-width: 100%;
      height: auto;
      width: 320px;
    }
  }

  .node--content-pb {
    padding-top: 18px;
    padding-bottom: 108px;
  }

  @media (--md) {
    .block-field-blocknodebasic-pagefield-svg-title {
      position: inherit;
      padding-block: 80px;

      img {
        width: auto;
      }
    }
  }
}

.chapter-title {
  position: relative;
  text-align: left !important;
  justify-content: flex-start !important;
  padding: 20px 0 !important;
  margin-bottom: 0 !important;
  word-break: break-word;
  hyphens: auto;
  max-width: 921px;

  * {
    text-align: left;
  }

  &, * {
    font-size: max(3.125rem, min(11vw, 10.75rem));
    line-height: .8;
  }

  @media (--lg) {
    margin-left: 3%;
    margin-right: 3%;
  }

  @media (--downLg) {
    padding: 10px 0 !important;
    margin: 0 !important;
  }
}

.media-lightbox {
  margin-bottom: 40px;
  width: 100%;

  &.media--vector {
    img {
      width: 100%;
    }
  }

  .field--name-field-caption {
    font-size: 14px;
    margin-top: 20px;

    @media (--lg) {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
}

.paragraph--icon-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 50px 0;

  @media (--lg) {
    margin-left: 3%;
    margin-right: 3%;
  }

  .field--name-field-image {
    width: 60px;
    flex-grow: 0;
    flex-shrink: 0;

    @media (--lg) {
      width: 110px;
    }
  }

  .field--name-field-title {
    font-family: "PARC";
    font-size: 40px;
    line-height: 0.9;
    color: #008475;

    @media (--lg) {
      font-size: 70px;
    }
  }
}

.field--name-field-paragraphs-in {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;

  @media (--downLg) {
    gap: 24px;
  }
}

.paragraph-text {
  max-width: 923px;

  table {
    border-width: 2px;
    width: 100%;
    margin-bottom: 20px;

    tbody {
      border-width: 2px;
    }

    td, th {
      padding: 18px 26px;
      font-size: 18px;
      text-align: center;
      border-width: 2px;
    }

    th {
      text-transform: uppercase;
      font-weight: 700;
    }

    td {
      font-weight: 500;
    }
  }

  mark {
    padding: 0;
    margin: 0;
  }

  ul, ol {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @media (--lg) {
    margin-left: 3%;
    margin-right: 3%;
  }

  p {
    margin-bottom: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &.bg-color {
    background-color: var(--bg-color);
    border-radius: 4px;
    padding: 32px 42px;

    @media (--downLg) {
      font-size: 18px;
      padding: 20px 20px;

      .text--lg {
        font-size: 22px;
      }
    }
  }

  p + .media-lightbox {
    margin-top: 40px;
  }

  ul, ol {
    margin-left: 0;
  }

  p + :is(ol, ul) {
    margin-top: 10px;
  }

  .media-lightbox {
    @media (--lg) {
      margin-left: -3%;
      width: 106%;
    }
  }

  .svg-title {
    font-size: 44px;
    line-height: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}

.toc {
  @media (--lg) {
    padding-top: 20px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__items {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      display: block;
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cards {
  display: grid;
  gap: 12px;
  margin-bottom: 12px;
  max-width: 923px;

  @media (--lg) {
    margin-left: 3%;
    margin-right: 3%;
  }

  @media (--lg) {
    &.grid--2 {
      grid-template-columns: 1fr 1fr;
    }

    &.grid--3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  p {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.sria-card {
  border-radius: 4px;
  background-color: var(--bg-color, #FFF);
  border: 1px solid var(--border-color, #FFF);
  padding: 25px 16px;
  display: flex;
  flex-direction: column;

  &--centered {
    text-align: center;
    align-items: center;
    justify-content: center;

    .sria-card__image {
      order: -10;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__title {
    color: var(--title-color, #000);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 140%;
    letter-spacing: .1em;
  }

  &__number {
    color: var(--title-color, #000);
    width: 100%;
    text-align: center;
    font-family: "PARC";
    font-size: 46px;
    line-height: 0.9;
    margin-bottom: 10px;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 44px;

    img {
      max-height: 110px;
      width: auto;
    }
  }

  &__description {
    color: var(--text-color, #000);
    font-size: 14px;
    line-height: 140%;
  }

  p {
    margin-bottom: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  p + .media-lightbox {
    margin-top: 40px;
  }

  ul, ol {
    margin-left: 0;
    padding-left: 20px;
  }

  p + :is(ol, ul) {
    margin-top: 10px;
  }
}

.page--sria {
  .menu--main {
    display: none;
  }

  .block-field-blocknodebasic-pagefield-banner {
    display: none;
  }

  .layout__region--content {
    display: none;
  }

  .region-content {
    background-color: #FAFAFA;
  }

  hr {

  }

  .layout.container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}

.chapter-title-anchor {
  position: absolute;
  top: -50px;
  visibility: hidden;
}

#cboxLoadedContent img[src$=".svg"] {
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
}

#colorbox:has(img[src$=".svg"]),
#colorbox:has(img[src$=".svg"]) #cboxContent,
#colorbox:has(img[src$=".svg"]) #cboxLoadedContent {
  width: 80vw !important;
  max-width: none !important;
}

#colorbox:has(img[src$=".svg"]) #cboxLoadedContent {
  width: calc(80vw - 30px) !important;
}

#colorbox:has(img[src$=".svg"]) #cboxContent {
  width: calc(80vw - 30px) !important;
}

.toc-breadcrumb {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  padding-top: 16px;

  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      &:not(:first-child) {
        &:before {
          content: '|';
        }
      }
    }
  }
}
