.node--basic-page--full {
  isolation: isolate;

  .block-field-blocknodebasic-pagefield-banner {
    height: 320px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .block-field-blocknodebasic-pagefield-svg-title {
    position: absolute;
    top: 24px;
    inset-inline: 0;

    img {
      max-width: 100%;
      height: auto;
      width: 320px;
    }
  }

  .node--content-pb {
    padding-top: 18px;
    padding-bottom: 108px;
  }

  @media (--md) {
    .block-field-blocknodebasic-pagefield-svg-title {
      position: inherit;
      padding-block: 80px;

      img {
        width: auto;
      }
    }
  }
}

.chapter-title {
  text-align: left !important;
  justify-content: flex-start !important;
  padding: 40px 0 !important;
  margin-bottom: 0 !important;

  * {
    text-align: left;
  }

  @media (--lg) {
    margin-left: 8.3333%;
    margin-right: 16.6666%;

    &, * {
      font-size: 160px;
      line-height: 0.9;
    }
  }
}

.media-lightbox {
  .field--name-field-caption {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (--lg) {
      margin-left: 8.3333%;
      margin-right: 16.6666%;
    }
  }
}

.paragraph--icon-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 50px 0;

  @media (--lg) {
    margin-left: 8.3333%;
    margin-right: 16.6666%;
  }

  .field--name-field-image {
    width: 60px;
    flex-grow: 0;
    flex-shrink: 0;

    @media (--lg) {
      width: 110px;
    }
  }

  .field--name-field-title {
    font-family: "PARC";
    font-size: 40px;
    line-height: 0.9;
    color: #008475;

    @media (--lg) {
      font-size: 70px;
    }
  }
}

.paragraph-text {
  @media (--lg) {
    margin-left: 8.3333%;
    margin-right: 16.6666%;
  }

  p {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &.bg-color {
    background-color: var(--bg-color);
    border-radius: 4px;
    padding: 32px 42px;
  }
}