.layout--parc-content {
  isolation: isolate;

  .col-menu {
    margin-bottom: 32px;
  }

  .col-menu-sticky {
    .block-menu {
      padding-bottom: 2rem;
    }
  }

  /* temp for event content mega change */
  .col-content {
    display: flex;
    flex-direction: column;

    & > .lr--second {
      flex-grow: 1;
    }
  }

  @media (--lg) {
    align-items: stretch;

    .field--name-field-address-data p {
      margin-bottom: 0 !important;
    }

    .field--type-text-long,
    .field--type-text-with-summary {
      &:not(.field--name-field-address-data) > *:not(blockquote):not(div) {
        margin-inline: 8.3333% 16.6666%;
      }

      & > p:has(img) {
        margin-inline: 0 !important;
      }
    }

    .col-menu {
      top: 116px;
      flex: 0 0 auto;
      width: 25%;
      margin-bottom: 0;
    }

    .col-content {
      flex: 0 0 auto;
      width: 75%;
    }

    .content-container {
      margin-inline: 8.3333% 16.6666%;
    }

    .content-container-sm {
      margin-inline: 16.6666% 25%;
      margin-bottom: var(--spacer);

      p {
        margin-bottom: 0.75em;
      }
    }
  }

  @media (max-width: 61.9375rem) {
    .node--content-pb {
      padding-top: 0;
    }

    .nav-main {
      .btn {
        text-align: left;
        padding-inline: 0;
      }

      .second-level {
        padding-left: 0;
      }

      svg {
        width: 10px;
      }
      path {
        stroke: black;
      }

      .nav-link {
        --nav-link-padding-y: 0;
        font-size: 16px;
        font-weight: var(--fw-normal);
        line-height: 1.4em;
        padding-block: 8px;

        &.nav-link-level-0 {
          display: none;
        }
      }
    }
  }
}
