footer {
  padding-top: 26px;
  padding-bottom: 52px;

  & .row-bottom {
    @media (--lg) {
      margin-top: 168px;
    }
  }

  & .nav-link {
    --nav-link-color: var(--c-white);
    --nav-link-hover-color: var(--c-white);
    --link-h-color: var(--c-white);

    padding: 0;
    font-weight: 500;
  }
}

.region-footer {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr minmax(29px, auto);
  gap: 1px;
  grid-template-areas:
    "rf-block-top rf-block-top"
    "rf-block-left rf-block-right"
    "rf-block-left rf-block-right-bottom";

  @media (--md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "rf-block-top rf-block-top rf-block-top"
      "rf-block-left rf-block-right ."
      "rf-block-left rf-block-right-bottom .";
  }

  .rf-block-top {
    grid-area: rf-block-top;
  }
  .rf-block-left {
    grid-area: rf-block-left;
  }
  .rf-block-right {
    grid-area: rf-block-right;
  }
  .rf-block-right-bottom {
    align-self: center;
    grid-area: rf-block-right-bottom;
  }

  .nav {
    flex-direction: column;

    .nav-link {
      font-size: 19px;
    }
  }

  > .block {
    padding-right: 4rem;
  }
}

.block-parc {
  margin-bottom: 6rem;
  font-size: 32px;
  line-height: 125%;

  @media (--lg) {
    font-size: 48px;
    margin-bottom: 90px;
  }
}

.btn-lg.btn-outline-white {
  --btn-padding-y: 17px;
  --btn-padding-x: 36px;
  --btn-color: #ffffff;
  --btn-border-color: var(--btn-color);
  --btn-hover-border-color: var(--btn-color);
  --link-h-color: #000000;
  --btn-hover-bg: var(--btn-color);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;

  @media (--lg) {
    font-size: 24px;
    --btn-padding-y: 34px;
    --btn-padding-x: 42px;
  }
}

.nav-term-privacy {
  gap: 32px;

  .nav-link {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
}
