{#
/**
 * @file
 * Parc theme implementation to display a formatted image field with a caption.
 */
#}

<div class="w-img">
  {% if url %}
    <a href="{{ url }}">{{ image }}</a>
  {% else %}
    {{ image }}
  {% endif %}
</div>

{% if caption %}
  <div class="image-field-caption">{{ caption }}</div>
{% endif %}
