.t-term--thematic-areas--card {
  background-color: var(--c-body-bg);
  border-radius: var(--border-radius);
  min-height: 276px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  svg {
    height: auto;
  }

  .field--name-field-teaser-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      max-width: 178px;
    }
  }

  .t-term--name {
    a {
      --link-decoration: none;
      --link-h-decoration: underline;
      --link-color: var(--tta--c);
      --link-h-color: var(--tta--c);
    }

    svg {
      min-width: 13px;
      align-self: flex-end;
      margin-bottom: 8px;
    }
  }
}

.svg-hover-effect {
  --anim-duration: 1s;
  --svg-ta-sw: 20;

  circle {
    opacity: 0;
    animation-name: slidein;
    animation-duration: var(--anim-duration);
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: stroke var(--anim-duration) ease-in-out;
  }

  circle {
    animation-delay: 10ms;
  }

  .line1 {
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
    stroke-width: var(--svg-ta-sw);
    animation-name: dashIn;
    animation-duration: calc(var(--anim-duration) * 2);
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .line2 {
    stroke-width: var(--svg-ta-sw);
    transition: stroke var(--anim-duration) ease-in-out;
  }

  &:hover {
    svg {
      cursor: pointer;

      .line1 {
        animation-name: dashOut;
      }

      circle {
        fill: black;
      }

      .line2 {
        stroke: var(--red);
        stroke-dashoffset: 0;
        stroke-dasharray: 200;
        stroke-width: 20;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-name: dashHover;
        animation-duration: 0.4s;
        position: relevant;
      }

      g {
        &:nth-child(1) .line1 {
          animation-duration: 60ms;
        }
        &:nth-child(2) .line1 {
          animation-duration: 110ms;
        }
        &:nth-child(3) .line1 {
          animation-duration: 160ms;
        }
        &:nth-child(4) .line1 {
          animation-duration: 210ms;
        }
        &:nth-child(5) .line1 {
          animation-duration: 260ms;
        }
        &:nth-child(6) .line1 {
          animation-duration: 310ms;
        }
        &:nth-child(7) .line1 {
          animation-duration: 360ms;
        }
        &:nth-child(8) .line1 {
          animation-duration: 410ms;
        }
        &:nth-child(9) .line1 {
          animation-duration: 460ms;
        }
        &:nth-child(10) .line1 {
          animation-duration: 510ms;
        }
        &:nth-child(11) .line1 {
          animation-duration: 560ms;
        }
        &:nth-child(12) .line1 {
          animation-duration: 610ms;
        }
        &:nth-child(13) .line1 {
          animation-duration: 660ms;
        }
        &:nth-child(14) .line1 {
          animation-duration: 710ms;
        }
        &:nth-child(15) .line1 {
          animation-duration: 760ms;
        }
        &:nth-child(16) .line1 {
          animation-duration: 810ms;
        }
        &:nth-child(17) .line1 {
          animation-duration: 860ms;
        }
        &:nth-child(18) .line1 {
          animation-duration: 910ms;
        }
        &:nth-child(19) .line1 {
          animation-duration: 960ms;
        }
        &:nth-child(20) .line1 {
          animation-duration: 1010ms;
        }
      }
    }
  }
}
