<h2 class="chapter-title svg-title" id="{{ title_id }}"
  data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  {% if not paragraph.field_short_title.isEmpty %}
    {{ content.field_short_title }}
  {% else %}
    {{ content.field_title }}
  {% endif %}
</h2>
