<div class="paragraph-text {{ paragraph.field_background_color.color ? 'bg-color' }}" style="{{ paragraph.field_background_color.color ? '--bg-color:' ~ paragraph.field_background_color.color }}">
  {{ content.field_body }}
</div>
