<h2 class="chapter-title js-toc-chapter-title svg-title"
  data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <span class="separator-text svg-title">REGULATORY RELEVANCE</span>
  <span class="separator-text svg-title">EUROPEAN GREEN DEAL</span>
  <span class="separator-text svg-title">ROADMAP</span>
  <span class="real-text">{{ long_title|raw }}</span>
  <span class="chapter-title-anchor" id="{{ title_id }}">{{ long_title|raw }}</span>
</h2>
