<div class="chemicals-chart">
  <div class="chemicals-chart__desktop">
    {{ source('@parc/components/chemicals-chart/chemicals-desktop.svg') }}
  </div>
  <div class="chemicals-chart__mobile">
    {{ source('@parc/components/chemicals-chart/chemicals-mobile.svg') }}
  </div>
</div>
