.exposure-source-card {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 9px 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 260px;
  overflow: hidden;

  &__name {
    font-size: 22px;
    line-height: 140%;
    font-weight: 700;
    color: #000;
    z-index: 1;
  }

  &__icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;

    img,
    svg {
      width: 100%;
      height: auto;
    }

    svg {
      [fill] {
        fill: #E4E3E3;
      }

      [stroke] {
        stroke: #E4E3E3;
      }
    }
  }

  &__chemicals {
    position: absolute;
    bottom: 24px;
    left: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: calc(100% - 48px);
    text-align: left;
    z-index: 1;
  }

  &__chemical {
    font-weight: 700;
    color: var(--chemical-color, #000);
    font-size: 32px;
    line-height: 140%;

    &:not(:last-child):after {
      content: ',';
      color: #000;
      margin-right: 2px;
    }
  }
}