.overlay-is-navbar-collapse {
  --c-logo-circle: var(--c-white);
}

.navbar-toggler {
  .navbar-toggler-icon {
    transition: all 0.15s linear;
    transform: rotate(0deg);
  }

  &:not(.collapsed) {
    .navbar-toggler-icon {
      transform: rotate(90deg);
    }
  }
}

.region-nav-additional {
  align-self: flex-end;
  gap: 0.5rem;
  margin-top: 0; /* was .75rem need to change logo( is not correct) */
}

.navbar-nav {
  & .nav-link {
    &.active {
      text-decoration: underline;
    }
  }
}

@media (max-width: 79.99rem) {
  .menu--main {
    width: 100%;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    inset-inline: 0px;
    min-height: calc(100vh - 120px - var(--drupal-body-pt, 0px));
    color: var(--c-white);
    display: flex;
    align-items: stretch;
    padding-inline: 60px;

    .nav-link {
      --nav-link-color: var(--c-white);
      --nav-link-hover-color: var(--c-white);
      line-height: 1.25em;
    }

    .nav-main {
      .nav-link {
        --nav-link-font-size: 28px;
      }
    }

    .nav-top-menu {
      .nav-link {
        --nav-link-font-size: 18px;
      }
    }

    .region-nav-main {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .region-nav-additional {
      order: 1;
      align-self: stretch;
      flex-direction: column;
    }

    .menu--top-menu {
      margin-bottom: 60px;
    }

    .block-social {
      .field--name-body {
        height: 21px;
        justify-content: space-between;
      }

      svg {
        width: auto;
        height: 100%;
        max-width: 21px;
      }

      path {
        fill: var(--c-white);
      }
    }

    &.collapsing,
    &.show {
      & + .nc-bg {
        opacity: 1;
      }
    }
  }
}

.nc-bg {
  opacity: 0;
  z-index: -1;
  background: var(--lichtblauw);
  box-shadow: 0 0 0 max(100vw, 100vh) var(--lichtblauw);
  transition: 0.35s linear box-shadow;

  @media (--xl) {
    display: none;
  }
}

.navbar-nav {
  &.nav-top-menu {
    --nav-link-font-weight: 400;
    font-size: 13px;

    @media (--xl) {
      & .nav-link {
        --nav-link-color: var(--c-gray-600);
        --navbar-active-color: var(--link-color);
        --nav-link-hover-color: var(--link-color);
        --navbar-nav-link-padding-x: 6px;

        &.active {
          --navbar-active-color: var(--c-dark);
        }
      }
    }
  }

  &.nav-main {
    font-size: 20px;
    line-height: 115%;

    & .nav-link {
      --link-color: var(--c-black);
      --link-h-color: var(--link-color);
    }

    &.active {
      --navbar-active-color: var(--c-dark);
    }

    @media (--xl) {
      --navbar-nav-link-padding-x: 20px;
      --nav-link-padding-y: 0.75rem;
    }

    .second-level {
      padding-left: 62px;

      a {
        padding: 0;
        font-size: 18px;
        line-height: 30px;
        font-weight: var(--base-font-weight);
      }
    }
  }
}

.block-social .field--name-body {
  display: flex;
  align-items: center;
  gap: 6px;
}

.site-logo {
  svg:hover g:nth-of-type(odd) .line2 {
    animation-name: dashOutTwo;
  }

  svg:hover g:nth-of-type(even) .line2 {
    animation-name: dashOutTwo;
  }

  circle {
    opacity: 0;
    animation-name: slidein;
    animation-duration: 450ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: stroke 200ms ease-in-out;
  }

  .line1 {
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
    stroke-width: 3;
  }

  .line2 {
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: dashIn;
    position: relevant;
    animation-duration: 100ms;
  }

  @keyframes slidein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes dashIn {
    from {
      stroke-dashoffset: -20;
      stroke-dasharray: 200;
    }
    to {
      stroke-dashoffset: 0;
      stroke-dasharray: 200;
    }
  }

  @keyframes dashOut {
    from {
      stroke-dashoffset: 0;
      stroke-dasharray: 200;
    }
    to {
      stroke-dashoffset: -20;
      stroke-dasharray: 200;
    }
  }

  @keyframes dashOutTwo {
    from {
      stroke-dashoffset: 0;
      stroke-dasharray: 4;
    }
    to {
      stroke-dashoffset: -5;
      stroke-dasharray: 4;
    }
  }
}
