<div class="faq js-faq-accordion">
  <div class="faq__header js-faq-toggle" role="button" aria-expanded="false">
    <div class="faq__question">
      {% block question %}{% endblock %}
    </div>
    <div class="faq__toggle-icon"></div>
  </div>
  <div class="faq__content js-faq-content" style="display: none;">
    <div class="faq__answer">
      {% block answer %}{% endblock %}
    </div>
  </div>
</div>
