{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--events-info') }}

{% set color = node.field_tags.entity.field_colors.value.0.color %}

{%
  set classes = [
    'section--' ~ node.bundle|clean_class,
    view_mode ? 'section--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<section{{attributes.addClass(classes)}}>
  {{content}}
</section>
