.section--events--info {
  font-weight: var(--font-weight-normal);

  .field-date {
    display: inline-flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    background: var(--c-gray-200);
    border: 1px solid var(--c-gray-400);
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;

    .f-label {
      padding: 10px 10px 20px 10px;
    }

    .morning,
    .afternoon {
      position: absolute;
      padding: 5px;
      height: 50%;
      opacity: .3;
    }

    .morning {
      top: 0;
    }

    .afternoon {
      top: 50%;
    }

    .carousel-scroll {
      margin-bottom: 0;
      gap: 10px;
    }

    .calendar-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-bottom: 30px;
    }

    .empty {
      z-index: -2;
      position: relative;
    }

    .cs--item {
      background: #fff;
      height: 360px;
      min-height: unset;
      flex: 1 0 42%;
      display: flex;
      padding: 0;
    }

    .day {
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid var(--c-gray-400);
      padding: 10px;
    }

    .time {
      height: 100%;
      position: relative;

      .fill {
        background: var(--ne-c-cat);
        color: #fff;
        padding: 5px;
        line-height: 1;
        display: flex;
        border-radius: 5px;
        z-index: 2;
        position: relative;
      }
    }

    .slider__arrow {
      height: 30px;
      top: 50%;
      margin: 0 5px;
      z-index: 3;
    }

    .date-value {
      margin-bottom: 15px;
    }

    .date-item {
      margin-bottom: 15px;
      width: 200px;
      max-width: 100%;
      display: inline-block;

      padding-bottom: 15px;
      border-bottom: 1px solid var(--c-gray-400);

      .btn {
        padding: 0;
      }

      .collapse {
        margin-top: 15px;
      }
    }
  }

  .field + .field {
    .f-label {
      margin-top: 20px;
    }
  }

  .f-label {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .f-item + .f-item {
    margin-top: 8px;
  }

  .field--name-field-website {
    a {
      font-weight: var(--fw-bold);
    }
  }

  .organization {
    font-weight: var(--fw-bold);
  }

  .field-add-to-calendar {
    margin-top: var(--p-parc);

    a {
      --link-color: var(--ne-c-cat);
      --link-h-color: var(--link-color);
      --link-decoration: none;
      --link-h-decoration: underline;

      font-size: 12px;
      display: flex;
      align-items: center;
      margin-right: 4px;
      font-weight: var(--fw-bold);
    }
  }
}
