.section--events--info {
  font-weight: var(--font-weight-normal);

  .field-date {
    display: inline-flex;
    flex-direction: column;

    .date-value {
      margin-bottom: 15px;
    }

    .date-item {
      margin-bottom: 15px;
      width: 200px;
      max-width: 100%;
      display: inline-block;

      &:not(:last-child) {
        padding-bottom: 15px;
        border-bottom: 1px solid var(--c-gray-400);
      }

      .btn {
        padding: 0;
      }

      .collapse {
        margin-top: 15px;
      }
    }
  }

  .field + .field {
    .f-label {
      margin-top: 20px;
    }
  }

  .f-label {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .f-item + .f-item {
    margin-top: 8px;
  }

  .field--name-field-website {
    a {
      font-weight: var(--fw-bold);
    }
  }

  .organization {
    font-weight: var(--fw-bold);
  }

  .field-add-to-calendar {
    margin-top: var(--p-parc);

    a {
      --link-color: var(--ne-c-cat);
      --link-h-color: var(--link-color);
      --link-decoration: none;
      --link-h-decoration: underline;

      font-size: 12px;
      display: flex;
      align-items: center;
      margin-right: 4px;
      font-weight: var(--fw-bold);
    }
  }
}
