{#
/**
 * @file
 * Parc theme implementation for a field.
 */
#}

<div class="container px-0">
  <div class="field-description fw-medium">
    {% for item in items %}
      {{- item.content -}}
    {% endfor %}
  </div>
</div>
