.node--project {
  blockquote {

  }
}

.node--project--full {
  h1, h2, h3, h4, h5, h6 {
    color: var(--project-color, #000);
  }

  .svg-title h2 {
    color: #000;
  }

  .field--name-field-partners {
    > div:last-child {
      > div {
        display: inline;

        &:not(:last-child):after {
          content: ', ';
        }
      }
    }
  }

  .slideshow-item {
    .field {
      margin-bottom: 0 !important;
    }
  }

  .layout {
    &:first-child {
      padding-top: 0;

      @media (max-width: 1199px) {
        display: none;
      }
    }
  }

  @media (max-width: 1199px) {
    .content-section {
      display: none;
    }
  }

  .content {
    max-width: 900px;
    overflow-x: hidden;
    flex-grow: 0;
  }

  .container {
    display: flex;
    gap: 50px;

    &.flex-direction-column {
      flex-direction: column;
    }
  }

  .full-slideshow {
    display: block !important;

    @media (--lg) {
      max-width: 1400px;
    }
  }

  .info {
    max-width: 25%;
  }

  .field {
    &:not(:last-child):not(.field-media):not(.field--name-field-media-audio-file) {
      margin-bottom: 25px;
    }

    .f-label {
      color: var(--project-color);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: .1em;
    }

    &.field--name-field-name {
      margin-bottom: 0 !important;
    }
  }

  .field--name-field-project-abbreviation {
    overflow-wrap: anywhere;
    max-width: 100%;
    overflow: hidden;
  }

  .paragraph--contact {
    margin-bottom: 30px;
  }
}

.node--project--teaser {
  .left-icon {
    order: 2;
    margin-right: 10px;
  }

  .left-icon path {
    stroke: var(--project-color);
  }

  .btn {
    width: 100%;
    color: var(--project-color);

    .title {
      text-align: left;
      width: 100%;
    }
  }

  .btn-arrow:before {
    display: none;
  }

  .expand-icon {
    order: -1;
    padding-top: 10px;
    margin-left: 10px;

    path {
      fill: var(--project-color);
    }
  }

  .collapse.show {
    padding: 10px 0;
  }
}

.related-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.related-project {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  min-height: 140px;

  &__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    font-weight: bold;
  }

  .colors {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &__color {
      flex: 1 0 auto;
      opacity: .7;
    }
  }

  &.disabled {
    a {
      color: #656565 !important;
    }
  }
}
