.node-events-form .all-day-selected .time-end.form-date,
.node-events-edit-form .all-day-selected .time-end.form-date {
  visibility: hidden !important;
}

.node-events-form .all-day-selected .smartdate--separator,
.node-events-edit-form .all-day-selected .smartdate--separator {
  display: none !important;
}

.select2-container--claro .select2-selection--multiple .select2-selection__rendered li {
  max-width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
}
