.events-table__year {
  display: grid;
  grid-template-columns: 1fr 1fr 476px 476px;
  grid-gap: 4px;
}

.events-table {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

.events-table * {
  height: 36px;
}

.events-table__year__item,
.events-table__month__item,
.events-table__year__arrow {
  background: #FBCDD550;
  color: #E45C4D;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.events-table__month {
  display: grid;
  grid-template-columns: auto repeat(24, 36px);
  grid-gap: 4px;

  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.events-table__row {
  display: grid;
  grid-template-columns: auto repeat(24, 36px);
  grid-gap: 4px;

  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.events-table__row__format {
  color: #E45C4D;
  font-weight: bold;
  font-size: 20px;
  min-width: 240px;
  padding-left: 10px;
}

.events-table__row__empty-sub {
  min-width: 240px;
}

.events-table__row__event {
  max-width: 100%;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  color: #FFF;
  min-width: 240px;
}

.events-table__row__event a {
  border-radius: 42px;
  background-color: var(--event-color);
  padding: 0 15px;
  max-width: 100%;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  text-overflow: ellipsis;
  color: #FFF !important;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.events-table__row__event a > * {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 14px;
  display: inline;
  height: auto;
}

.events-table__row__month {
  border-radius: 4px;
  border: 1px solid #F5F5F5;
  overflow: hidden;
}

.events-table__row__month__link {
  font-size: 0;
  background-color: var(--event-color);
  display: block;
}

.events-table .external-link-mark {
  display: none;
}

.events-table .disabled {
  pointer-events: none;
}

.events-table__year__arrow {
  cursor: pointer;
}

.events-table__year__arrow::after {
  height: 10px;
  width: 14px;
  content: '';
  -webkit-mask:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.155' height='10.056' viewBox='0 0 12.155 10.056'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-597.944 -456.944)'%3E%3Cpath id='Path_6' data-name='Path 6' d='M11.043,1.243l-4.384,5.3a.8.8,0,0,1-1.274,0L1,1.243' transform='translate(598 456.757)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3Crect id='Rectangle_1' data-name='Rectangle 1' width='12' height='10' transform='translate(598 457)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.155' height='10.056' viewBox='0 0 12.155 10.056'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-597.944 -456.944)'%3E%3Cpath id='Path_6' data-name='Path 6' d='M11.043,1.243l-4.384,5.3a.8.8,0,0,1-1.274,0L1,1.243' transform='translate(598 456.757)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3Crect id='Rectangle_1' data-name='Rectangle 1' width='12' height='10' transform='translate(598 457)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #E45C4D;
  transform: rotate(90deg);
}

.events-table__year__arrow.arrow-right::after {
  transform: rotate(-90deg);
}

.hidden {
  display: none !important;
}

.disabled-arrow {
  opacity: .5;
  cursor: default;
}

.event-row:not(.hidden) + .filler-row {
  display: grid !important;
}

.visibility-hidden {
  visibility: hidden;
}

.row-move-up {
  margin-top: -38px;
}
