{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
    'text-uppercase',
  ]
%}

<div{{attributes.addClass(classes)}}>
  {%- for item in items -%}
    {{- item.content.locality['#value'] -}}{{- not loop.last ? ', ' }}
  {% endfor %}
</div>
