.projects-page .views-element-container {
  width: 100%;
}

.node--project--teaser {
  .left-icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding: 10px;
    padding-left: 0;

    svg {
      width: 14px;
      min-width: 14px;
      max-width: 14px;

      path {
        stroke: var(--project-color);
      }
    }
  }

  > .btn {
    color: var(--project-color);
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    width: 100%;
    flex-direction: row;
    text-align: left;
    display: flex;
    align-items: center;
    border: none !important;

    span:last-child {
      margin-right: 15px;
    }

    &:active {
      border: none;
      outline: none;
      color: var(--project-color) !important;
      font-weight: bold !important;;
      font-size: 18px !important;;
      border-color: black !important;
    }

    &:before {
      order: 2;
      margin-left: auto;
      content: '';
      -webkit-mask: url('./../../../../../img/plus.svg');
      mask: url('./../../../../../img/plus.svg');
      -webkit-mask-size: contain;
      mask-size: contain;
      width: 12px;
      height: 12px;
      background-color: var(--project-color);
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      flex-shrink: 0;
    }

    &[aria-expanded="true"] {
      border-top: 1px solid black !important;
      padding-bottom: 20px;
      margin-top: 20px;
      padding-top: 20px;

      svg {
        fill: var(--project-color);
      }

      &:before {
        transform: none;
        margin-top: -3px;
      }
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    padding: 35px 0;

    svg {
      width: 100%;
    }
  }

  .section-title {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-bottom: 10px;
    height: 120px;

    svg {
      width: 100%;
    }
  }

  .field--name-field-project-topics,
  .field--name-field-project-keywords {
    .f-label {
      color: inherit !important;
    }

    > div > div {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .field {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    .f-label {
      color: var(--project-color);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: .1em;
    }

    &.field--name-field-name {
      margin-bottom: 0;
    }
  }

  h2, h3, h4, h5 {
    color: var(--project-color);
  }

  .collapse.show {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
