.node--article--compact {
  padding-bottom: 100px;

  &.node--article--has-bg-color {
    background-color: var(--nn-c-bg);
  }

  .field--name-field-image {
    margin-bottom: 50px;

    .w-img {
      max-height: 550px;
      overflow: hidden;
      display: flex;

      @media (--downLg) {
        margin-inline: -20px;
      }
    }

    img {
      width: 100%;
      height: auto;
      align-self: center;
    }
  }

  .image-field-caption {
    font-size: 14px;
    line-height: 145%;
    padding: 22px;
    padding-bottom: 0;
  }

  .container-head {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "menu menu"
      "head-title date";
    column-gap: 20px;
    row-gap: 19px;
    margin-bottom: 55px;
    align-items: start;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "menu"
        "category"
        "title";
    }
  }

  .head-menu {
    grid-area: menu;
  }

  .head-title {
    grid-area: head-title;

    @media (max-width: 767px) {
      display: contents;
    }
  }

  .field-category,
  .field-date {
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: capitalize !important;
  }

  .field-category {
    a {
      --link-color: var(--nn-c-cat, var(--red));
      --link-h-color: var(--nn-c-cat, var(--red));
      --link-decoration: none;
      --link-h-decoration: underline;
      font-size: 23px;
    }

    @media (max-width: 767px) {
      grid-area: category;
      align-self: center;
      justify-self: start;
    }
  }

  .field-date {
    grid-area: date;

    @media (max-width: 767px) {
      grid-area: category;
      align-self: center;
      justify-self: end;
    }
  }

  .node-title {
    font-size: 60px;
    line-height: 110%;
    margin: 0;
    color: var(--nn-c-cat);

    @media (max-width: 767px) {
      grid-area: title;
    }
  }

  @media (--xl) {
    .container-head {
      grid-template-columns: 15% 70% 15%;
      grid-template-areas: "menu head-title date";
      align-items: start;
      column-gap: 0;
    }

    .head-title {
      margin-left: 40px;
    }

    .field--name-field-image,
    .paragraph-text,
    .paragraph--image-gallery,
    .paragraph--media-carousel {
      width: 100%;
      margin-inline: auto;
    }

    .paragraph-text {
      max-width: 70%;
    }
  }

  .field + .field--name-field-slideshow-items {
    margin-top: var(--spacer);
  }
}
