.parc-relations {
  display: flex;
  width: 100%;
  position: relative;
  gap: 10%;

  &__wrapper {
    padding: 30px 60px;
    background: #FFF;

    @media (--downMd) {
      padding: 30px 25px 30px 10px;
    }
  }

  &__header {
    text-align: center;
    font-size: 22px;
    line-height: 140%;
    font-weight: 700;
    padding: 20px;
    color: #000;
    margin-bottom: 40px;
  }

  &__svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @media (--downMd) {
      //visibility: hidden;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    color: #000;
  }

  .left-col {
    text-align: right;
  }

  .left-col,
  .right-col {
    width: 500px;
    font-weight: bold;

    @media (--downMd) {
      line-height: 1;
    }

    a {
      font-size: 18px;
      text-decoration: none;
      font-weight: 700;
      z-index: 1;
      position: relative;

      @media (--downMd) {
        font-size: 14px;
        line-height: 1;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .middle-col {
    width: 60%;
    font-size: 56px;
    font-weight: bold;
    line-height: 120%;

    @media (--downMd) {
      font-size: 20px;
    }

    .parc-relations__title {
      @media (--downMd) {
        color: var(--primary-color);
      }
    }
  }

  .left-col,
  .middle-col,
  .right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
  }
}
