.paragraph--two-column {
  gap: 30px;
  display: grid;
  margin-block: 40px;

  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }

  &__column {
    &--left {
    }

    &--right {
      @media (--downMd) {
        padding-top: 0;
      }

      @media (--md) {
        padding-left: 30px;
      }
    }
  }
}
