.paragraph--carousel-item {
  position: relative;

  .field--name-field-body {
    --fb-fs: 50px;
    inset: 0;
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    font-size: var(--fb-fs);
    line-height: 110%;

    @media (--md) {
      --fb-fs: 65px;
    }

    @media (--xl) {
      --fb-fs: 80px;
    }
  }
}
