.node--events--teaser {
  --net--fs-date: 22px;
  --net--fs-title: 18px;
  --net--fs-meta: 10px;
  --net--w-bg--effect: 0;

  height: 100%;

  &.card {
    flex-direction: row;
    flex-direction: column;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    flex-grow: 1;
  }

  .w--bg {
    color: var(--c-white);
    aspect-ratio: 15/13;
    background-color: var(--ne-c-cat);
    border-radius: var(--border-radius);
    padding: 20px 14px 10px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--c-white);
      opacity: var(--net--w-bg--effect);
    }
  }

  .field-date {
    font-size: var(--net--fs-date);
    font-weight: var(--fw-bold);
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .field-field-city {
    font-size: 12px;
    font-weight: var(--font-weight-normal);
  }

  .card-title {
    font-size: var(--net--fs-title);
    flex-grow: 1;
    letter-spacing: 0.011em;
    color: var(--ne-c-cat-first, var(--red));
  }

  .meta {
    flex-wrap: wrap;
    gap: 8px;
    font-size: var(--net--fs-meta);
    color: var(--red);
    margin-bottom: 8px;
    line-height: 1em;
  }

  .field--name-field-categories {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4px;
    position: relative;
    z-index: 2;

    & a {
      --link-color: var(--red);
      --link-h-color: var(--red);
    }
  }

  .btn-arrow {
    font-size: 11px;
  }

  &:hover {
    --net--w-bg--effect: 0.2;
  }

  @media (--md) {
    --net--fs-date: 36px;
    --net--fs-title: 36px;
    --net--fs-meta: 12px;

    .field-date {
      font-size: var(--net--fs-date);
      font-weight: var(--fw-medium);
    }
    .card-title {
      margin-bottom: 32px;
    }

    & .meta {
      margin-bottom: 14px;
    }

    .btn-arrow {
      font-size: 18px;
    }
  }
}
