.node--article--teaser {
  --card-spacer-y: 8px;
  --card-spacer-x: 8px;
  --h4-font-size: 20px;

  flex-direction: row;

  & .card-img {
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: 8px;
    min-width: 28%;
    max-width: 28%;
    aspect-ratio: 1 / 1;
    position: relative;
    align-self: flex-start;

    .img {
      position: absolute;
      inset: 0;
      filter: grayscale(100%);
      background-size: 110% 110%;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 200ms ease-in-out;
    }

    svg {
      position: absolute;
      inset: 0;
      max-width: 100%;
      height: auto;
    }
  }

  & .card-body {
    display: flex;
    flex-direction: column;
  }

  & .card-title {
    letter-spacing: 0.011em;
    color: var(--nn-c-cat, var(--red));
  }

  .mini {
    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  & .meta {
    font-size: 12px;
    color: var(--red);
    margin-bottom: 8px;
  }

  & .field-category {
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;

    & a {
      --link-color: var(--red);
      --link-h-color: var(--red);
    }
  }

  & .field-date {
    letter-spacing: 0.02em;
  }

  & .card-styled-border {
    display: none;
  }

  &:hover {
    & .card-img {
      .img {
        filter: grayscale(0%);
        background-size: 100% 100%;
      }
    }
  }

  @media (--downLg) {
    .article-content {
      .field--name-body {
        margin-bottom: 1rem;
      }

      .field--name-body,
      blockquote {
        font-size: 16px;
      }
    }
  }

  @media (--lg) {
    --h4-font-size: inherit;
    --card-spacer-y: 0;
    --card-spacer-x: 18px;

    min-height: 576px;
    flex-direction: column;

    .card-title {
      min-height: 106px;
    }

    .card-body {
      margin-top: 1rem;
    }

    .mini-content {
      width: 100%;

      &.show {
        min-height: 104px;
      }
    }

    & .card-img {
      margin: 6px 6px 0;
      min-width: calc(100% - 12px);
      max-width: calc(100% - 12px);
      aspect-ratio: 8 / 5;
    }

    & .card-styled-border {
      display: block;
    }

    & .meta {
      margin-bottom: 14px;
    }
  }
}

.news-green {
  --news-c-title: var(--green);
}

.news-purple {
  --news-c-title: var(--purple);
}

.node--article--teaser {
  .svg-news--effect {
    .line1 {
      stroke-dashoffset: 30;
      stroke-dasharray: 100;
      stroke-width: 15;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-name: newsDashIn !important;
      animation-duration: 250ms;
    }
  }

  &:hover {
    .svg-news--effect {
      .line1 {
        animation-fill-mode: forwards;
        animation-name: newsDashOut !important;
      }
    }
  }

  @keyframes newsDashIn {
    0% {
      stroke-dashoffset: 100;
    }

    100% {
      stroke-dashoffset: 30;
    }
  }

  @keyframes newsDashOut {
    0% {
      stroke-dashoffset: 30;
    }

    100% {
      stroke-dashoffset: 100;
    }
  }
}
