<div class="chemicals-interactive-body js-chemicals-interactive-body"
     data-assets-path="{{ '/' ~ directory ~ '/components/chemicals-interactive-body/svg/' }}">
  <div class="chemicals-interactive-body__body-dots-wrapper" id="body-dots-wrapper"></div>
  <div class="chemicals-interactive-body__menu-items-wrapper" id="menu-items-wrapper"></div>
  <div class="chemicals-interactive-body__body-layers-wrapper" id="body-layers-wrapper"></div>

  <div id="filter-menu-mobile" class="filter-button">
    <p id="dropup-trigger">{{ 'Chemicals'|t }}</p>
    <ul id="dropup-list"></ul>
  </div>

  <div id="menu-items-mobile" class="filter-button">
    <p id="menu-items-trigger">{{ 'Health effects'|t }}</p>
    <ul id="menu-items-list"></ul>
  </div>

  <svg id="centroid-overlay"></svg>
  <div id="centroid-label-popup"></div>
</div>

