.chemicals-interactive-body {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  aspect-ratio: 16 / 9;
  margin-bottom: 40px;

  .parc--details {
    z-index: 20;
  }

  &__body-layers-wrapper,
  &__menu-items-wrapper,
  &__body-dots-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &__menu-items-wrapper {
    z-index: 11;
    pointer-events: none;

    [id*="Ellipse"] {
      transition: opacity 0.25s ease;
    }

    [id^="C_D"] {
      transition: opacity 0.25s ease;
    }
  }

  &__body-dots-wrapper {
    pointer-events: auto;
    position: absolute;
    inset: 0;

    svg {
      pointer-events: visiblePainted;
    }
  }

  .body-layer,
  .chem-layer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease;

    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      g {
        opacity: 1;
      }

      path {
        opacity: 1;
        stroke-dashoffset: 0 !important;
      }

      circle {
        pointer-events: auto !important;
      }
    }
  }

  circle {
    pointer-events: none;
    transition: r 0.25s ease-out, fill 0.2s ease-out;
  }

  .menu-item {
    opacity: 1.0;
    pointer-events: auto;
    cursor: pointer;
    transition: opacity 0.3s;

    path#Ellipse {
      opacity: 1;
    }

    [id^="hover"] {
      transition: opacity 0.25s;
      opacity: 0;
    }

    &:hover {
      [id^="hover"] {
        opacity: 1;
      }

      path.text {
        fill: #fff !important;
      }
    }

    &[id^="hover"]:hover {
      opacity: 1 !important;
    }
  }

  .menu-item-inactive {
    display: unset;
    opacity: 0;
    pointer-events: none;
  }

  [id*="TEXT"] {
    opacity: 0;
    transition: opacity 0.3s ease-out;

    g {
      opacity: 0.0;
      transition: opacity 0.3s ease-out;
    }

    line,
    path,
    polyline,
    polygon {
      transition: stroke-dashoffset 0.4s ease-out;
    }
  }

  .active {
    opacity: 1 !important;
  }

  .inactive {
    opacity: 0 !important;
    pointer-events: none !important;
  }

  .invisible {
    opacity: 0 !important;
  }

  .half-active {
    opacity: 0.3;
    pointer-events: none !important;
  }

  .non-interactable {
    pointer-events: none !important;
  }

  [id^="B_"] {
    cursor: pointer;
  }
}