{{ attach_library('parc/forms') }}
{{ attach_library('parc/f--views-exposed') }}

<div class="chemicals-interactive-body js-chemicals-interactive-body" 
     data-assets-path="{{ '/' ~ directory ~ '/components/chemicals-interactive-body/svg/' }}">
  <div class="chemicals-interactive-body__body-dots-wrapper" id="body-dots-wrapper"></div>
  <div class="chemicals-interactive-body__menu-items-wrapper" id="menu-items-wrapper"></div>
  <div class="chemicals-interactive-body__body-layers-wrapper" id="body-layers-wrapper"></div>
  
  <div class="chemicals-interactive-body__filter-menu parc--details" id="filter-menu">
    <p>{{ 'Filter by chemical'|t }}</p>
  </div>
</div>
