{#
/**
 * @file
 * Parc theme implementation for a field.
 */
#}

{%
  set classes = [
    'field',
    'field-' ~ field_name|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {% for item in items %}
    {{- item.content.country -}}
    {{- item.content.locality -}}
  {% endfor %}
</div>
