{#
/**
 * @file
 * Parc theme implementation to display a view of unformatted rows.
 */
#}

<div class="col-md-6 col-lg-3">
  {% if title %}
    {{- title -}}
  {% endif %}

  {% for row in rows %}
    {{- row.content -}}
  {% endfor %}
</div>
