{#
/**
 * @file
 * Parc theme implementation for a field.
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
    'field-type--' ~ field_type|clean_class,
    'col-content',
  ]
%}

<div class="row">
  <div class="col-12 col-lg"></div>
  <div{{attributes.addClass(classes)}}>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
</div>
