.pc-compact {
  min-height: 300px;
  display: flex;
  flex-direction: column;

  > a {
    display: block;
    width: 100%;
    height: auto;
    flex-grow: 1;
    background: #FAFAFA;
    border-radius: 6px;
    padding: 16px;

    &:hover {
      background: var(--bg-color);
    }
  }

  a {
    &, &:hover, &:active, &:focus {
      color: var(--text-color);
      text-decoration: none;
    }
  }

  &__top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 11px;
    font-weight: bold;
    line-height: 200%;
    text-transform: uppercase;
    margin-bottom: 36px;
  }

  &__title {
    font-size: 22px;
    line-height: 110%;
    font-weight: bold;
  }
}

.pc-teaser {
  border-radius: 6px;
  padding: 18px 10px;
  background-color: #FFF;
  color: var(--text-color);
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    border-radius: 6px;
    margin-bottom: 25px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--bg-color);
      z-index: 1;
      mix-blend-mode: multiply;
      border-radius: 6px;
    }
  }

  img {
    filter: grayscale(1);
    border-radius: 6px;
  }

  &:hover {
    background-color: var(--bg-color);

    .pc-teaser__image {
      &:after {
        display: none;
      }
    }

    img {
      filter: none;
    }
  }

  &__top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 11px;
    font-weight: bold;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-left: 16px;
    margin-right: 16px;

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 120%;
    font-weight: bold;
    max-width: 760px;
    margin: 0 16px;
    margin-bottom: 32px;
  }

  &__links {
    display: flex;
    gap: 8px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;

    @media (--md) {
      flex-direction: row;
      visibility: hidden;
    }

    a {
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      display: flex;
      align-items: flex-end;
      gap: 5px;
      white-space: nowrap;
    }
  }
}

.carousel__controls {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 10px;

  > * {
    position: static;
    margin: 0;
    padding: 0;

    &:after {
      color: #000;
      font-size: 20px;
    }
  }
}

.w--sort-by {
  margin-left: auto;
}

.parc--details details {
  background-color: transparent;
}

.featured-pc {
  .pc-teaser__top {
    order: -1;
  }
}

.all-pc {
  @media (--lg) {
    > * {
      width: calc(50% - 10px);
    }

    > *:nth-child(1),
    > *:nth-child(4),
    > *:nth-child(5) {
      float: left;
      margin-right: 5px;
    }

    > *:nth-child(2),
    > *:nth-child(3),
    > *:nth-child(6) {
      float: right;
      margin-left: 5px;
    }
  }
}