.node--basic-page--compact {
  img {
    max-width: 100%;
    height: auto;

    & + *:not(img) {
      margin-top: var(--spacer);
    }
  }

  svg {
    max-width: 100%;
    height: auto;
  }

  #governance-svg {
    width: 100%;
  }
}
