.node--basic-page--compact {
  img {
    max-width: 100%;
    height: auto;

    & + *:not(img) {
      margin-top: var(--spacer);
    }
  }

  @media (--lg) {
    .field--name-body {
      & > *:not(img) {
        padding-inline: 8.3333% 16.6666%;
      }
    }
  }
}
