.node--search-teaser {
  .icon-wrapper {
    background: var(--bg-color);

    svg {
      padding: 5px;
    }
  }

  .icon-color {
    path {
      stroke: var(--icon-color);
    }
  }

  .image {
    min-width: 36px;
  }

  img, svg {
    min-width: 36px;
    width: 36px;
    height: 36px;
    object-fit: cover;
  }

  > a {
    text-decoration: none;

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  .node__content {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .title {
    font-weight: bold;
  }

  .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: 1.45;

    @mixin lhCrop 1.45;

    > * {
      display: inline;
    }

    p {
      display: inline;
    }

    .field--name-field-address-data:not(:last-child),
    .field--name-field-city:not(:last-child) {
      &:after {
        content: ', ';
      }
    }
  }
}
