@define-mixin rb-none {
  &:before {
    display: none;
  }
}

@define-mixin rb-left {
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    left: 0;
    top: 0;
    position: absolute;
  }
}

@define-mixin rb-right {
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    right: 0;
    top: 0;
    position: absolute;
    left: unset;
  }
}

@define-mixin rb-top {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    left: 0;
    top: 0;
    position: absolute;
  }
}

@define-mixin rb-bottom {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 999px;
    background: var(--secondary-color, #FFF);
    left: 0;
    top: 100%;
    position: absolute;
  }
}

.chemical-exposure-sources__heading {
  display: flex;

  @media (--md) {
    display: inherit;
  }

  &__pfas {
    display: block;

    @media (--md) {
      display: none;
    }
  }
}

.chemical-exposure-sources {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  margin: 40px 0;
  padding-bottom: 16px;
  flex-direction: column;
  @mixin rb-bottom;

  @media (--md) {
    padding-bottom: 0;
    flex-direction: row;

    @mixin rb-none;
  }

  &__group {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;

    &:not(:last-child) {
      @mixin rb-bottom;
      padding-right: 0;

      @media (--md) {
        border-bottom: 0;
        padding-right: 20px;
        @mixin rb-right;
      }
    }

    @media (--downMd) {
      flex-direction: row-reverse;
      padding-bottom: 10px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    @media (--md) {
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
    }
  }

  &__item {
    @media (--md) {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    @media (--downMd) {
      align-content: start;
    }
  }

  &__group-icon {
    margin-bottom: 16px;
    margin-top: 32px;

    svg {
      height: 100px;
      width: auto;

      &,
      path {
        stroke: var(--secondary-color);
      }

      [fill] {
        fill: var(--secondary-color);
      }
    }

    @media (--downMd) {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }

  &__group-title {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    position: relative;
    min-height: 250px;

    @mixin rb-top;

    &:before {
      background: #FFF !important;
    }

    @media (--downMd) {
      width: 50%;
      align-content: center;
    }

    &:after {
      content: '';
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="37" height="17" viewBox="0 0 37 17" fill="none"><path d="M35.252 1.5L22.0945 15.2295" stroke="white" stroke-width="3" stroke-linecap="round"/><path d="M14.6582 15.2305L1.50077 1.50098" stroke="white" stroke-width="3" stroke-linecap="round"/></svg>');
      background-size: 33px 13px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: -3px;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      height: 26px;
      background-color: var(--primary-color);

      @media (--downMd) {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        rotate: -90deg;

        &:after {
          margin-top: -15px;
        }
      }
    }

    @media (--downMd) {
      @mixin rb-left;

      &:after {
        margin-top: -12px;
      }
    }
  }
}
