.node--institution--teaser {
  border: 1px solid #CCCCCC;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
  background: #fff;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .roles {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;
    margin-bottom: 15px;
  }

  .title {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    line-height: 19px;
  }

  .address {
    margin-bottom: 15px;
  }

  .left {
    max-width: 50%;
    overflow: hidden;
  }

  .bottom {
    margin-top: 15px;
    margin-bottom: 15px;

    > *:not(:last-child) {
      margin-bottom: 7px;
    }

    .field > div {
      display: inline;
    }

    .f-label:after {
      content: ': ';
    }
  }

  .f-label {
    font-weight: bold;
    display: inline-block;
  }

  .expand-link,
  .expand {
    margin-top: auto;
    text-decoration: none;
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border: 8px solid;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    > .field {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: calc(100% - 35px);
      height: calc(100% - 35px);
      object-fit: contain;
    }
  }

  &.placeholder-image .image img {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }

  .top-row {
    display: flex;
    gap: 15px;

    .right {
      margin-left: auto;
      width: 50%;
      max-width: 180px;
    }
  }

  @media (max-width: 40em) {
    .top-row {
      .left {
        max-width: 55%;
        min-width: 55%;
      }

      .right {
        max-width: 45%;
        min-width: 45%;
      }
    }

    .image {
      width: auto;
      height: auto;
      max-width: calc(100% - 20px);
    }
  }
}
