
<div>
  <div class="d-flex">
    <div class="col-md-5">
      <h5>{{ content.field_course_topics[0]['#title']}}</h5>
    </div>
    <div class="col-md-4"></div>
    <div>
      <small>{{ content.field_d_date }}</small>
    </div>
  </div>
  <div>
    <h4>{{ label }}</h4>
  </div>
</div>
