{#
/**
 * @file
 * Parc theme implementation for a 'form' element.
 */
#}
<div class="row align-items-center flex-wrap flex-md-nowrap justify-content-md-start align-items-md-start">
  <div class="col col-md-2 order-1">
    {{ form.category_collapsible }}
  </div>

  <div class="col-12 col-md-8 me-auto order-2 mt-3 mt-md-0 parc-col--categories">
    <div id="js-selected-category" class="w--labels d-flex gap-2"></div>
  </div>

  <div class="col-auto col-md-1 order-1 order-md-3 d-flex justify-content-end w--sort-by">
    {{ form.sort_bef_combine }}
  </div>
</div>

{{ form|without('sort_bef_combine', 'category_collapsible') }}
