.paragraph--count {
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 6px;
  left: 10px;
}

.paragraph--newsletter--default {
  .wrap {
    padding: 6px 10px 26px;
    background-color: var(--c-gray-200);
    border-radius: var(--border-radius);
  }

  .field--name-field-date {
    color: var(--lichtblauw);
    font-size: 16px;
    font-weight: 400;
  }

  .btn-arrow-link {
    --link-h-color: var(--lichtblauw);
    --btn-arrow-url: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='arrow-color' d='M1.2417 1.63867L4.77723 5.17421C5.16776 5.56473 5.16776 6.1979 4.77723 6.58842L1.2417 10.124' stroke='%231c85ff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");

    margin-block: 8px;
    color: var(--lichtblauw);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.newsletter-see-more {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  &[aria-expanded="true"] {
    display: none;
  }
}