<div class="governance-map" data-map-id="{{ map_id }}" id="governance-map-{{ map_id }}" style="position: relative; width: 100%; height: 1000px;">
  <div style="display: none;">
    <!-- Popup -->
    <div id="popup"></div>
  </div>
  <!-- <div class="settingsParent">
    <div class="settingsBtnContainer" (click)="toggleFilterPanel(1)">
      <button class="settingsBtn" title="Show/Hide Settings" onclick="openNav()">☰</button>
    </div>
  </div> -->
</div>
