.popover-body {
  min-width: 276px;
}

.identify-rectangle-span {
  width: 25px;
  height: 15px;
  display: inline;
  margin-right: 10px;
}

.popover-arrow {
  margin: 5px !important;
}

.ol-control {
  background-color: transparent;
}

.ol-zoom {
  right: 0.5em;
  left: auto;
}

.ol-zoom .ol-zoom-in {
  border-radius: 50%;
}

.ol-zoom .ol-zoom-out {
  border-radius: 50%;
}

.ol-control button {
  margin: 5px;
  color: black;
}

.results {
  position: absolute;
  z-index: 5;
  width: calc(33.3333% + 10px);
  max-width: calc(33.3333% + 10px);
  min-width: 300px;
}

.results.open {
  height: 100%;
  background: #FCFAFA;
  max-height: 100%;
  overflow: auto;
}

#resultsParent {
  max-height: calc(100vh - 190px);
  overflow: auto;
  padding: 0;
  padding-right: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
}

#identifyParent {
  margin-left: 20px;
  margin-top: -15px;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

#identifyParent .node--institution {
  max-height: 700px;
  overflow: auto;
  border: none !important;
}


.interactive-map .accordion-item {
  border: none !important;
  margin: 20px;
}

.interactive-map .accordion-header {
  background: #FCFAFA;
  border-radius: 20px;
  padding: 0 5px;
  display: inline-block;
}

.interactive-map .accordion-header button {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  outline: 0 !important;
  padding: 10px;
  background: transparent !important;
  box-shadow: none !important;
}

.interactive-map .accordion-header button:after {
  width: 10px;
  height: 10px;
  background-position: center;
  margin-left: 10px;
  transform: rotate(-90deg);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.155' height='10.056' viewBox='0 0 12.155 10.056'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-597.944 -456.944)'%3E%3Cpath id='Path_6' data-name='Path 6' d='M11.043,1.243l-4.384,5.3a.8.8,0,0,1-1.274,0L1,1.243' transform='translate(598 456.757)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3Crect id='Rectangle_1' data-name='Rectangle 1' width='12' height='10' transform='translate(598 457)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
  margin-top: 0px;
  background-size: contain;
}

.interactive-map .accordion-header button[aria-expanded="true"]:after {
  transform: rotate(0deg);
  margin-top: 2px;
}

.interactive-map .accordion-body::-webkit-scrollbar,
.interactive-map #identifyParent .node--institution::-webkit-scrollbar,
.map-page .layout > div:first-child::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.interactive-map .accordion-body::-webkit-scrollbar-track,
.interactive-map #identifyParent .node--institution::-webkit-scrollbar-track,
.map-page .layout > div:first-child::-webkit-scrollbar-track {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #dadbdc;
}

.interactive-map .accordion-body::-webkit-scrollbar-thumb,
.interactive-map #identifyParent .node--institution::-webkit-scrollbar-thumb,
.map-page .layout > div:first-child::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #505459;
}
.interactive-map .accordion-body::-webkit-scrollbar-thumb:hover,
.interactive-map #identifyParent .node--institution::-webkit-scrollbar-thumb:hover,
.map-page .layout > div:first-child::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #6d7177;
}
.interactive-map .accordion-body::-webkit-scrollbar-thumb:window-inactive,
.interactive-map #identifyParent .node--institution::-webkit-scrollbar-thumb:window-inactive,
.map-page .layout > div:first-child::-webkit-scrollbar-thumb:window-inactive {
  background: #505459;
}

.interactive-map .popover-body ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.interactive-map .popover-body ul li {
  display: flex;
  align-items: center;
}

.interactive-map .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow {
  bottom: -14px;
}

.interactive-map .bs-popover-top > .popover-arrow::before,
.interactive-map .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before {
  border-top-color: #CCC;
}

.interactive-map .identify-rectangle-span {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  font-size: 0;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.interactive-map .popover-header {
  display: none;
}

.interactive-map .popover p {
  margin-bottom: 0;
}

.interactive-map .popover {
  background: #fff;
  opacity: .8;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  backdrop-filter: blur(12px);
  font-size: 14px;
}

.interactive-map .popover-body {
  padding: 10px;
}

.interactive-map .popover .title {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 10px;
}

.interactive-map .popover li {
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
}

.interactive-map .popover li:not(:last-child) {
  margin-bottom: 5px;
}

.interactive-map .institution-item-list-item {
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-size: 14px;
}

.ol-overlaycontainer-stopevent {
  z-index: 10 !important;
}

.map-page footer {
  display: none;
}

.map-page .layout__region {
  padding-top: 0;
  padding-bottom: 0;
}

.map-page .node--page--full .layout {
  padding-top: 40px;
}

@media screen and (min-width: 40.0001em) {
  .map-page .px-0 {
    padding-left: 1.25rem !important;
    padding-right: 0 !important;
  }

  .map-page .layout {
    background: #fcfafa;
  }

  .map-page .layout > :first-child {
    background: #fcfafa;
    max-height: calc(100vh - 140px);
    overflow: auto;
    padding-top: 0;
    margin-top: 20px;
  }
}

.interactive-map {
  max-height: calc(100vh - 96px);
}

@media screen and (max-width: 40em) {
  .map-page .block-facets:not(:last-child) {
    padding: 0;
    margin: 0;
    border: none;
  }

  .map-page .facets-widget-checkbox .facets-collapse,
  .map-page .facets-widget-parc_checkbox .facets-collapse {
    text-decoration: none;
    padding-bottom: 5px;
  }

  .map-page .px-0 {
    gap: 15px;
  }

  .interactive-map {
    max-height: calc(100vh - 210px);
  }

  .map-page .px-0 > :first-child {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }

  .interactive-map .results {
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: 50;
    height: auto;
  }

  .interactive-map .accordion-item {
    margin: 0;
  }

  .interactive-map .accordion-header button:not(.collapsed):after {
    transform: none;
    margin-top: 4px;
  }

  .interactive-map .accordion-header {
    border-radius: 0;
    width: 100%;
    padding: 10px;
  }

  .interactive-map #resultsParent {
    padding: 0 10px;
    margin-right: 10px;
    margin-top: 0;
    display: flex;
    gap: 20px;
  }

  .interactive-map .node--institution--teaser {
    min-width: 85vw;
    max-width: 85vw;
  }

  .interactive-map #identifyParent {
    position: absolute;
    bottom: 70px;
    width: calc(100% - 20px);
    left: -10px;
  }

  .interactive-map .node--institution--teaser:last-child {
    margin-bottom: 15px;
  }

  .map-page .px-0 {
    position: relative;
  }

  .map-page .px-0 > :first-child {
    position: fixed;
    bottom: 0;
    z-index: 123;
    background: #fcfafa;
    padding-top: 10px;
    width: 100vw;
    max-height: calc(100vh - 96px);
    overflow: auto;
  }
}

.interactive-map #popup {
  margin-bottom: 10px;
}

@media (min-width: 1921px) {
  .map-page .px-0 > :last-child,
  .map-page .px-0 > :last-child > div,
  .map-page .px-0 > :last-child > div > div,
  .map-page .px-0 > :last-child > div > div > div,
  .map-page .px-0 > :last-child > div > div > div > div,
  .map-page .px-0 > :last-child > div > div > div > div > div {
    height: 100% !important;
  }

  .map-page .px-0 > :last-child {
    position: relative;
  }

  .map-page .px-0 > :last-child > div {
    width: calc(75vw - 10px);
    position: absolute;
    left: 10px;
  }

  .map-page .px-0 {
    height: calc(100vh - 96px);
  }

  .map-page .node--page {
    overflow-x: hidden;
  }

  .results {
    width: calc(33.3333% - 40px);
    max-width: calc(33.3333% - 40px);
  }
}

.map-page main {
  background: #fcfafa;
}

.interactive-map .identify-role-span {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.08em;
}