.popover-body {
  min-width: 276px;
}

.identify-rectangle-span {
  width: 25px;
  height: 15px;
  display: inline;
  margin-right: 10px;
}

.popover-arrow {
  margin: 5px !important;
}

.ol-control {
  background-color: transparent;
}

.ol-zoom {
  right: 0.5em;
  left: auto;
}

.ol-zoom .ol-zoom-in {
  border-radius: 50%;
}

.ol-zoom .ol-zoom-out {
  border-radius: 50%;
}

.ol-control button {
  margin: 5px;
  color: black;
}

.results {
  position: absolute;
  z-index: 5;
  max-width: 400px;
  background: #FCFAFA;
}

.results.open {
  height: 100%;
}

#resultsParent {
  max-height: 900px;
  overflow: auto;
  padding-top: 0;
  margin-top: 15px;
}

#identifyParent {
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  display: none;
}

.interactive-map .accordion-item {
  border: none !important;
  margin: 10px;

}

.interactive-map .accordion-header button {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  outline: 0 !important;
  padding: 10px;
  background: transparent !important;
  box-shadow: none !important;
}

.interactive-map .accordion-header button:after {
  width: 10px;
  height: 9px;
  background-position: center;
  margin-left: 10px;
}

.accordion-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.accordion-body::-webkit-scrollbar-track {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #dadbdc;
}

.accordion-body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #505459;
}
.accordion-body::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #6d7177;
}
.accordion-body::-webkit-scrollbar-thumb:window-inactive {
  background: #505459;
}
