{#
/**
 * @file
 * Parc theme implementation to display a paragraph.
#}

{% extends "paragraph.html.twig" %}

{% block content %}
  {% if paragraph.field_link_one.isEmpty %}
    {{ content }}
  {% else %}
    <a href="{{ link('', paragraph.field_link_one.uri)['#url'].toString }}">
      {{ content }}
    </a>
  {% endif %}
{% endblock %}
