.block-facets:not(:last-child) {
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.facets-widget-checkbox,
.facets-widget-parc_checkbox {
  a.facets-soft-limit-link {
    font-size: 16px;
  }

  .facets-title {
    font-size: 20px;
  }

  .facets-collapse {
    text-decoration: none;
    padding: 0;
    background: transparent;
    color: #000;
    box-shadow: none;
    border: none;
    padding-bottom: 10px;

    &[aria-expanded="true"] {
      text-decoration: underline;
    }
  }

  .collapse {
    transition: transform .2s ease-in-out;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .facet-item {
    display: flex;
    gap: 8px;
    align-items: baseline;

    label {
      display: flex;
      font-size: 20px;
      width: 100%;

      &:hover {
        .facet-item__value {
          text-decoration: underline;
        }
      }
    }

    .facet-item__count {
      margin-left: auto;
      color: #999898;
      font-size: 10px;
    }
  }

  .facet-subtitle {
    margin-bottom: 5px;
    display: block;
  }

  .accordion-button::after {
    background-size: 15px;
    background-position: center;
    margin-bottom: 4px;
    margin-left: 5px;
  }

  .accordion-button[aria-expanded="true"]::after {
    margin-top: -3px;
  }

  .facet-item__value {
    position: relative;
    max-width: calc(100% - 20px);

    .facets-collapse {
      position: absolute;
      right: -25px;
      top: 10px;
      padding: 0;
      margin: 0;
      width: auto;

      &[aria-expanded="false"] {
        top: 6px;
      }
    }
  }

  .facets-section-title {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #999898;
    margin-bottom: 10px;
  }

  .accordion-button::after {
    transform: rotate(-90deg);
  }

  .accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
  }

  .facet-collapse-expanded .facet-item__value {
    text-decoration: underline;
  }

  li.collapse {
    ul {
      margin-bottom: 0;
    }
  }
}
