.view-chemicals {
  .views-row {
    margin-bottom: 29px;

    &:not(:last-child) {
      border-bottom: 2px solid #000;
      padding-bottom: 29px;
    }
  }
}

.faq-group {
  margin-bottom: 40px;
  border-bottom: 3px solid #000;

  h3 {
    font-size: 22px;
    line-height: 140%;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .faq {
    background: #FAFAFA;

    &__header {
      color: var(--primary-color, #000);
    }
  }
}

.view-exposure-sources {
  margin-bottom: 40px;
}
