.view-chemicals {
  .views-row {
    margin-bottom: 29px;

    &:not(:last-child) {
      border-bottom: 2px solid #000;
      padding-bottom: 29px;
    }

    @media (--downMd) {
      &:not(:last-child) {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.faq-group,
.view-exposure-sources {
  margin-bottom: 40px;

  h2 {
    font-size: 32px;
    line-height: 140%;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  h3 {
    font-size: 22px;
    line-height: 140%;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .faq {
    background: #FAFAFA;

    &__header {
      color: var(--primary-color, #000);
    }
  }
}

body:has(.tabs-header) header.sticky-top {
  position: static !important;
}
