.highlights-item {
  border-radius: 10px;
  background: var(--bg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  height: 100%;
  position: relative;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    * {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    color: var(--title-color);
    font-family: PARC, sans-serif;
    font-size: clamp(40px, 4.7vw, 70px);
    line-height: 1;
    margin-top: 20px;
    z-index: 1;

    @media (max-width: 767px) {
      font-size: clamp(40px, 10.7vw, 70px);
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  .sria-animation {
    margin-top: 20px;
    --sria-font-size: clamp(40px, 4.7vw, 70px);
    height: calc(var(--sria-font-size) * 3.3);
    margin-bottom: 20px;

    @media (max-width: 767px) {
      --sria-font-size: clamp(40px, 10.7vw, 70px);
    }

    .type-container {
      font-size: var(--sria-font-size);
    }

    + p {
      margin-top: auto;
    }
  }

  .field--name-field-body:has(.sria-animation) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__text {
    padding: 0 40px;
    margin-top: auto;
    z-index: 1;

    &:has(.sria-animation) {
      margin-top: 0;
      height: 100%;
    }

    a {
      .external-link-mark {
        display: none;
      }

      &:after {
        content: ' ↗';
        margin-right: 8px;
        font-size: 17px;
      }
    }

    p {
      &, * {
        color: var(--text-color) !important;
      }

      a {
        color: var(--text-color) !important;
      }
    }
  }

  .field-media {
    aspect-ratio: unset;
  }
}

.swiper-slide:has(.highlights-item) {
  height: auto;
}
