.matrix-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  border: 1px solid var(--node-color, #CCC);
  margin-bottom: 35px;

  .table-cell {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;

    &:not(.last) {
      border-bottom: 1px solid var(--node-color, #CCC);
    }

    &:has(.skip-cell) {
      margin-top: -1px;
      border-top: 1px solid #FFF;
    }
  }

  .substance-qualified {
    display: flex;
    height: 100%;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .qualified-in-parc-tooltip {
    color: #008475;
    position: absolute;
    bottom: -16px;
    left: 40px;
    height: 0;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .qualified-in-parc-arrow {
    position: absolute;
    bottom: -24px;
    left: 15px;
  }

  .matrix-item {
    display: block;
  }

  .table-cell-header {
    background-color: var(--node-color, #F5F5F5);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 10px;
    color: #fff;
  }

  .table-cell-header:nth-child(1) {
    border-radius: 5px 0 0 0;
  }

  .table-cell-header:last-child(2) {
    border-radius: 0 5px 0 0;
  }

  .matrix-item {
    border-right: 1px solid var(--node-color, #CCC);
  }

  .qualified {
    display: inline-block;
    height: 100%;
    position: relative;
    margin-right: 20px;

    width: 20px;
    max-width: 20px;
    min-width: 20px;

    &:after {
      content: '';
      height: calc(100% + 20px);
      width: 1px;
      background: var(--node-color, #CCC);
      position: absolute;
      right: -10px;
      top: -10px;
    }
  }

  .not-qualified-svg {
    margin-left: 2px;
    margin-right: 2px;
  }

  .substance {
    display: inline-block;
  }

  &--ecotoxicology {
    min-width: 850px;
    grid-template-columns: repeat(5, 1fr);

    .table-cell--domain-header {
      grid-row: 1 / span 2;
      grid-column: 1;
      justify-content: center;
      align-items: center;
    }

    .table-cell--stressors-header {
      grid-row: 1;
      grid-column: 2 / span 3;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid #fff !important;
    }

    .table-cell--approaches-header {
      grid-row: 1 / span 2;
      grid-column: 5;
      justify-content: center;
      align-items: center;
    }

    .pseudo-cell {
      padding: 0 10px;

      &:first-child {
        padding-top: 10px;
      }

      &:last-child {
        padding-bottom: 10px;
      }

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    .table-cell.has-pseudo-cells {
      padding: 0;
    }

    .table-cell:not(.table-cell-header):not(.row-end) {
      border-right: 1px solid var(--node-color, #ccc);
    }

    .table-cell-header {
      border-right: 1px solid #fff;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .table-cell--approaches-header {
      border-right: none;
    }

    .additional-info-text {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .additional-info-text.measuring {
      display: block !important;
      overflow: visible !important;
    }

    .table-cell.expanded .additional-info-text {
      display: block;
      overflow: visible;
    }

    .additional-info-read-more {
      margin-top: 5px;
      color: var(--node-color, #000);
      text-decoration: none;
    }
  }

  &__air {
    grid-template-columns: 1fr 1fr 1fr;

    .substances {
      padding: 0;

      > * {
        padding: 0 10px;

        &:first-child {
          padding-top: 10px;
        }

        &:last-child {
          padding-bottom: 10px;
        }

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@media screen and (min-width: 40.001em) {
  .results:has(.matrix-table--ecotoxicology):has(.to-expand:not(.hidden)) {
    max-width: calc(100% - 10px);
    width: 900px;
  }

  .results:has(.matrix-table__air):has(.to-expand:not(.hidden)) {
    max-width: calc(100% - 10px);
    width: 700px;
  }
}
