.type-container {
  font-family: "PARC", sans-serif;
  font-size: clamp(50px, 14vw, 220px);
  line-height: 0.8;
  letter-spacing: -0.10cap;
  color: black;
  white-space: pre;
  position: relative;
  height: 100%;
  width: auto;
  aspect-ratio: 2 / 1.2;
  max-height: 868px;
  min-height: 232px;
}

#trail-layer,
#scramble-layer,
#final-layer {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre;
  pointer-events: none;

  //width: 100%;
  //height: 100%;
}

#trail-layer {
  z-index: 1;
}

#scramble-layer {
  z-index: 10;
}

#final-layer {
  z-index: 20;
}

.trail-frame {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.20;
}

.final-letter {
  color: #000;
  opacity: 0;
  transition: opacity 0.9s ease-out;
}

.last-row {
  color: #AED3FF;
  opacity: 0.50;
}

.sria-title {
  background: #FFF;
  padding: 30px 0;
}