
.survey-form-wrapper {
  background-color: #B0E5DF;
  position: relative;

  #survey {
    visibility: hidden;
    position: absolute;
    top: -60px;
  }

  h3 + p {
    margin-bottom: 60px;
  }

  &.override-color {
    background-color: var(--survey-color, #B0E5D) !important;
  }

  padding: 30px 30px 60px 30px;
  text-align: center;

  h3 {
    margin-bottom: var(--spacer);
    font-size: 40px;
  }

  > p {
    font-size: 19px;
  }

  .survey-options, .survey-results {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 100%;
      border-radius: 8px;
      background-color: #FFFFFF;
    }

    .survey-option, .survey-result {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      flex: 1 1 calc(50% - 40px);
      position: relative;
      margin-left: 40px;
      min-height: 430px;
      justify-content: center;

      &:nth-of-type(1), &:nth-of-type(2) {
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          border-radius: 8px;
          background-color: #FFFFFF;
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        border-radius: 8px;
        background-color: #FFFFFF;
      }

      &:nth-of-type(odd) {
        margin-left: 0;
        margin-right: 40px;

        .survey-result-percent {
          right: 0;
        }

        &::before {
          right: 0;
          left: unset;
        }

        &::after {
          right: 0;
          left: unset;
        }
      }

      &:nth-of-type(even) {
        .survey-result-percent {
          left: 0;
        }
      }
    }

    &:has(> *:nth-child(3)) {
      .survey-option, .survey-result {
        min-height: 220px;
      }
    }

    .survey-option-link {
      background-color: unset;
      border: unset;
      color: black;
      padding: 100px 0;
      width: 100%;
      font-size: 22px;
      height: 100%;

      &:hover,
      &:active,
      &:focus {
        background-color: #77CABF4D;
        text-decoration: none;
      }
    }
  }

  .survey-results {
    list-style: none;
    margin: 0;
    padding: 0;

    .survey-result {
      padding: 80px 0;
      flex-direction: column;

      p {
        width: 100%;
        margin: 0;
        z-index: 2;
        font-size: 22px;
      }

      .survey-result-percent {
        width: 100%;
        position: absolute;
        bottom: 10px;
        right: 0;
        border-radius: 8px;
        background-color: #77CABF4D;
        z-index: 1;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        height: 100%;
      }
    }

  }

  @media screen and (max-width: 1030px) {
    .survey-options, .survey-results {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;

      &::after {
        display: none;
      }

      .survey-option, .survey-result {
        flex: 1 1 100%;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;

        &:first-of-type {
          &::before {
            width: 100%;
          }
        }

        &:nth-of-type(2) {
          &::before {
            display: none;
          }
        }

        &:nth-of-type(odd) {
          justify-content: center;
          margin-left: 0;
          margin-right: 0;

          &::after {
            width: 100%;
          }
        }

        .survey-result-percent {
          width: 100%;
        }

        .survey-option-link {
          width: 100%;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.node--events {
  .survey-form-wrapper {
    background-color: var(--ne-c-cat, #b0e5df);
  }
}

.node--article {
  .survey-form-wrapper {
    background-color: var(--nn-c-cat, #b0e5df);
  }
}

.node--project {
  .survey-form-wrapper {
    background-color: var(--project-color, #b0e5df);
  }
}
