@font-face {
  font-family: "PARC";
  src: url("../../../fonts/P-A-R-C-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

.svg-title {
  &, > * {
    --svg-title-size: 33px;
    font-family: "PARC";
    text-align: center;
    font-size: var(--svg-title-size);
    line-height: var(--svg-title-size);

    @media (--sm) {
      --svg-title-size: 44px;
    }

    @media (--md) {
      --svg-title-size: 66px;
    }

    @media (--lg) {
      --svg-title-size: 88px;
    }
  }
}
