.node--publications--default {
  --npt--title-fs: 1rem;
  background: #fafafa;
  border-width: 1px 0;
  padding: 1rem 0;

  .news-container {
    max-width: 88.75rem;
    margin-inline: auto;
  }

  .col-sp-img {
    align-self: flex-start;
    width: max(105px, 18vw);
    aspect-ratio: 94 / 140;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
    }
  }

  .col-sp-content {
    display: flex;
    flex-direction: column;
  }

  .node--title {
    font-size: var(--npt--title-fs);
    line-height: 22px;
    display: block;
    text-decoration: none;
    flex-grow: 1;
    padding-right: 24px;

    svg {
      position: absolute;
      padding-top: 7px;
      margin-left: 5px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .w--btn {
    margin-top: auto;
    border-top: 1px solid black;
    padding-block: 6px;
    margin-top: 1em;
    position: relative;

    .bb {
      position: absolute;
      bottom: 0;
      inset-inline: 0;
      border-bottom: 1px solid black;
    }

    button[aria-expanded="true"] + .bb {
      display: none;
    }
  }

  .btn-arrow {
    --btn-color: var(--c-publications);
    --btn-arrow-url: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='arrow-color' d='M1.2417 1.63867L4.77723 5.17421C5.16776 5.56473 5.16776 6.1979 4.77723 6.58842L1.2417 10.124' stroke='%236e009a' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }

  .col-coll-content .bb {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
  }

  .btn_wrap {
    margin-block: 70px;
  }

  .node--section {
    padding-block: 20px;
    font-size: 16px;
    line-height: 22.4px;

    .f-label {
      font-weight: 700;
    }

    label {
      margin-bottom: 4px;
      color: var(--c-publications);
    }
  }

  .field-authors {
    font-size: 12px;
    line-height: 1.4em;
    margin-top: 1rem;

    .f-label {
      font-weight: 700;
    }
  }

  .field-key-messages {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1rem;

    .f-label {
      margin-block: 1rem;
      color: var(--c-publications);
    }
  }

  .node--section--details {
    section + .field {
      margin-top: 1em;
    }
  }

  .node--section--body {
    label {
      margin-bottom: 20px;
    }
  }

  /* Carousel classes */
  .w--carosuel-scroll {
    position: relative;

    &:hover {
      @media (hover: hover) {
        .slider__arrow {
          display: block;
        }
      }
    }
  }

  .carousel-scroll {
    display: flex;
    overflow-x: scroll;
    flex-flow: row nowrap;
    margin-bottom: 24px;
    gap: 20px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .slider__arrow {
    position: absolute;
    inset-block: 0;
    width: 6%;
    max-width: 80px;
    background: none;
    border: none;
    display: none;
    /* color: transparent; */
    font-size: 32px;
    transition: var(--transition-base);

    @media (hover: hover) {
      display: block;
    }

    &:hover {
      color: var(--c-body);
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .slider__arrow-prev {
    left: 0;
  }

  .slider__arrow-next {
    right: 0;
  }

  .cs--item {
    --cs-svg-c: var(--cs--item-c);
    background: var(--cs--item-bg);
    color: var(--cs--item-c);
    flex: 1 0 clamp(300px, 80%, 400px);
    max-width: 400px;
    min-height: 280px;
    scroll-snap-align: start;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 18px;

    &:not(.field-regulatory-message):hover {
      --cs-svg-c: var(--cs--item-bg);
      background: var(--cs--item-c);
      color: var(--cs--item-bg);
    }

    .count {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 14px;
    }

    .field--content {
      margin-top: 10px;
      margin-right: 20px;
    }

    &.field-regulatory-message {
      transition: var(--transition-base);
      --cs--item-bg: #f5e9ca;

      &:hover {
        --cs--item-bg: #f6e3aa;
      }
    }
  }

  .comma-divider {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.3em;

    & > .field:not(:last-child) {
      &:after {
        content: ", ";
      }
    }
  }

  .btn-copy-to-clipboard {
    padding: 0 0.3rem;
    text-decoration: none !important;
    position: relative;
    color: var(--c-white);
    max-width: fit-content;

    svg {
      opacity: 0.5;
    }

    span {
      opacity: 0;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      left: 110%;
      position: absolute;
      background-color: var(--c-primary);
      padding: 2px 10px;
      font-size: 8px;
      border-radius: 10px;
      white-space: nowrap;
      transition: var(--transition-base);
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &.added {
      span {
        opacity: 1;
      }
    }
  }

  @media (--downLg) {
    box-shadow: 0 0 0 100vmax #fafafa;
    clip-path: inset(0 -100vmax);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;

      height: 1px;
      width: 150vh;
      background-color: #e4e3e3;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -20px;

      height: 1px;
      width: 150vh;
      background-color: #e4e3e3;
    }

    .col-sp-img {
      padding-right: 0;
    }
  }

  @media (--md) {
    .cs--item {
      flex: 1 0 clamp(250px, calc((100% - 6%) / 3 - 1.25rem), 400px);
    }
  }

  @media (--lg) {
    --npt--title-fs: 2rem;
    margin-bottom: 24px;
    border: 1px solid #e4e3e3;
    border-radius: var(--border-radius);
    padding: 1rem;

    .col-sp-img {
      aspect-ratio: 286 / 292;
      width: 286px;
    }

    .node--title {
      line-height: 44px;

      svg {
        width: 18px;
        margin-left: 8px;
        padding-top: 15px;
      }
    }

    .field-authors {
      font-size: 16px;
    }

    .w--btn {
      padding-block: 12px;
    }

    .collpase-row {
      margin-left: 274px;
    }

    .node--section--body {
      padding-right: 16%;
    }
  }
}
