.call-to-action {
  background-color: var(--main-color);
  cursor: pointer;
  padding: 30px;
  border-radius: 6px;
  margin-bottom: 8px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &.has-full-link {
    padding: 0;

    > .full-link {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      text-decoration: none;
      padding: 30px;
    }
  }

  &__visible {
    height: 100%;
    flex-grow: 1;
    display: flex;

    @media (--downLg) {
      flex-direction: column;
    }
  }

  @media (--downLg) {
    padding: 20px var(--gutter-x);
    margin-left: calc(-1 * var(--gutter-x));
    margin-right: calc(-1 * var(--gutter-x));
    border-radius: 0;
  }

  &:hover {
    background-color: var(--secondary-color);
  }

  &__right-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    @media (--downLg) {
      align-items: flex-start;
      min-height: 140px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;

    &__title, .svg-title {
      max-width: 700px;
      color: var(--secondary-color);
      padding: 55px 0 0 0;

      @media (--downLg) {
        padding-top: 0;

        &, * {
          font-family: var(--body-font-family) !important;
          font-size: 28px;
          line-height: 100%;
        }
      }
    }

    &__description {
      max-width: 780px;
      margin: 54px 0;
      width: 100%;

      @media (--downLg) {
        font-size: 14px;
        line-height: 140%;
        margin: 20px 0;
      }

      &:not(.expand) {
        display: none;
      }
    }

    &__link {
      font-size: 24px;
      margin-top: 40px;

      @media (--downLg) {
        font-size: 14px;
        line-height: 90%;
        width: 100%;
        text-align: center;
        margin-top: auto;
      }
    }

    &__expand-icon {
      margin-left: auto;
      margin-top: auto;

      path {
        stroke: #FFF;
      }
    }
  }

  &.expand, &:hover {
    background-color: var(--secondary-color);

    .call-to-action__main__title {
      color: var(--main-color);
    }

    .call-to-action__main__link a {
      color: #FFF;
    }

    .call-to-action__main__expand-icon {
      path {
        stroke: var(--main-color);
      }
    }
  }

  &.expand {
    .call-to-action__main__expand-icon {
      transform: rotate(90deg);
    }
  }

  &--with-subtitle {
    @media (--lg) {
      background-color: #FFF;
      border: 1px solid #E4E2E2;
      padding: 10px 30px 10px 10px;
      position: relative;

      path {
        stroke: #000 !important;
      }

      .call-to-action__visible {
        display: flex;
        gap: 28px;
      }

      .call-to-action__right-wrapper {
        min-height: 205px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .call-to-action__main__expand-icon {
        margin-top: auto;
        margin-bottom: 20px;
        margin-left: auto;
      }

      .call-to-action__main {
        margin-top: 35px;
        align-items: flex-start;

        &__title {
          font-size: 32px;
          line-height: 125%;
          font-weight: bold;
          margin-bottom: 18px;
          max-width: 460px !important;
          padding: 0;
        }

        &__subtitle {
          color: var(--secondary-color);
          max-width: 460px;
        }

        &__description {
          margin-top: -50px;
        }
      }

      .call-to-action__image {
        width: 240px;
        height: 240px;
        background-color: var(--main-color);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;

        img {
          width: 110px;
          height: auto;
        }
      }

      &:hover, &.expand {
        background-color: var(--main-color);

        .call-to-action__main__title {
          color: #000;
        }
      }
    }
  }

  .call-to-action__image {
    @media (--downLg) {
      display: none;
    }
  }

  &--blue {
    &:hover, &.expand {
      background: var(--main-color);

      .call-to-action__main__title {
        color: var(--secondary-color);
      }

      .call-to-action__main__expand-icon {
        path {
          stroke: var(--secondary-color);
        }
      }
    }
  }



  @media (--downLg) {
    &__main__subtitle {
      display: none;
    }
  }
}
