.t-term--thematic-areas--header {
  background-color: var(--tta--bg);
  padding-block: 40px;

  .media-field {
    max-width: 320px;
    max-height: 320px;
  }

  @media (--md) {
    .field--name-field-icon {
      width: 75%;
    }
  }
}
