.container,
.container-fluid,
.container-chemicals,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid,
.container-chemicals {
  max-width: 1920px;
}

.container-chemicals {
  padding-left: 0;
  padding-right: 0;
}

.parc-container {
  max-width: 644px;
  margin-inline: auto;
}

@media (--sm) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (--md) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }

  .container-chemicals {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (--lg) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 992px;
  }
}

@media (--xl) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1240px;
  }
}

@media (--xxl) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1420px;
  }
}
