{{ attach_library('parc/t--exposure-source--full') }}

<div class="exposure-source">
  <div class="exposure-source__icon">{{ content.field_icon }}</div>
  <div class="exposure-source__name">{{ name }}</div>
</div>
