.tabs-header {
  width: 100%;

  &__title {
    text-align: center;

    .svg-title {
      margin: 0;
      padding: 30px 0;
      font-size: 50px;

      @media (--md) {
        padding: 60px 0 40px 0;
        font-size: 92px;
      }
    }
  }

  &__menu {
    margin-bottom: 35px;
    position: sticky;
    top: 0;
    padding-top: 20px;
    z-index: 50;

    .nav-tabs {
      justify-content: center;
      gap: 20px;
      border: none !important;

      .nav-item {
        margin-bottom: 0;
      }

      .nav-link {
        color: #000 !important;
        border-radius: 3px 3px 0 0;
        background: transparent;
        padding: 6px 12px;
        font-weight: 700;
        font-size: 14px;
        border: none;
        margin-bottom: 0;

        @media (--md) {
          font-size: 20px;
          padding: 6px 24px;
        }

        &:hover {
          background: #FFF;
          text-decoration: none;
        }

        &.active {
          background: #FFF;
        }
      }
    }
  }
}
