.tabs-header {
  width: 100%;
  margin-bottom: 35px;

  &__title {
    text-align: center;

    .svg-title {
      margin: 0;
      padding: 30px 0;
      font-size: 50px;

      @media (--md) {
        padding: 60px 0;
        font-size: 92px;
      }
    }
  }

  &__menu {
    .nav-tabs {
      justify-content: center;
      gap: 20px;

      .nav-item {
        margin-bottom: -2px;
      }

      .nav-link {
        color: #000 !important;
        border-radius: 3px;
        background: transparent;
        padding: 6px 12px;
        font-weight: 700;
        font-size: 14px;
        border: none;

        @media (--md) {
          font-size: 20px;
          padding: 6px 24px;
        }

        &:hover {
          background: #FFF;
          text-decoration: none;
        }

        &.active {
          background: #FFF;
        }
      }
    }
  }
}
